<div class="wrapper">
  <div class="tracks-list">
    <h2><i class="fa fa-compass"></i>{{ 'Current tracks' | t({}, {'context': 'warcraft_track'}) }}</h2>

    {% if tracks is empty %}
      <p>{{ 'No tracks for the moment' | t({}, {'context': 'warcraft_track'}) }}</p>
    {% endif %}

    <div class="tracks">
      {% for track in tracks %}
        <div class="track-teaser">
          <a href="{{ path('entity.node.canonical', {'node': track.id}) }}" class="character-icon"
             style="background-image: url('{{ media_url(track.field_track_icon.entity, 'portrait_image') }}');">
            <div class="overlay blue-gradient no-opacity"></div>
            <span class="name">{{ track.field_track_name.value }}</span>
            <span class="hidden-button">{{ 'See detail' | t({}, {'context': 'warcraft_track'}) }}</span>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if oldTracks is not empty %}
      <h3>{{ 'Old tracks' | t({}, {'context': 'warcraft_track'}) }}</h3>
    {% endif %}

    <div class="tracks">
      {% for oldTrack in oldTracks %}
        <div class="track-teaser old">
          <a href="{{ path('entity.node.canonical', {'node': oldTrack.id}) }}" class="character-icon"
             style="background-image: url('{{ media_url(oldTrack.field_track_icon.entity, 'large') }}');">
            <span class="name">{{ oldTrack.field_track_name.value }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
