ul {
  &.tabs {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    top: 124px;
    background: rgba(0, 0, 0, 0.3);
    text-align: right;
    a {
      &.is-active {
        background: $light-blue-color;
      }
    }
  }
}

.messages.messages--status, .messages.messages--error {
  position: absolute;
  z-index: 50;
  width: 500px;
  margin: auto;
  margin-top: 80px;
  left: 0;
  right: 0;
  a {
    color: black;
  }
}

@media only screen and (max-width: 768px) {
  .messages.messages--status, .messages.messages--error {
    margin-top: 40px;
    width: 200px;
  }
}
