.class-color {
  &-1 {
    color: #C79C6E;
  }
  &-2 {
    color: #F58CBA;
  }
  &-3 {
    color: #ABD473;
  }
  &-4 {
    color: #FFF569;
  }
  &-5 {
    color: #FFFFFF;
  }
  &-7 {
    color: #0070DE;
  }
  &-8 {
    color: #69CCF0;
  }
  &-9 {
    color: #9482C9;
  }
  &-11 {
    color: #FF7D0A;
  }
}
