body {
  background-image: url("../images/background_dwarf.png");
  background-color: $brand-color;
  background-repeat: repeat;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  background-attachment: fixed;
  background-size: cover;

  &.hyjal {
    background: rgb(4,39,83);
    background: linear-gradient(90deg, rgba(4,39,83,1) 0%, rgba(3,26,54,1) 98%);
  }

  .no-opacity {
    opacity: 0;
  }

  li {
    display: inline-block;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: white;
  }

  h1, h2 {
    margin: 0;
  }

  h2 {
    letter-spacing: 2px;
    font-size: 30px;
    text-shadow: 2px 3px 2px #000;
    @media only screen and (max-width: 768px) {
      font-size: 25px;
    }
  }

  .wrapper {
    width: $wrapper-max-width;
    margin: auto;
    @media only screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .button {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    display: block;
    width: 150px;
    text-align: center;
    border-radius: 30px;
    border: solid 1px $light-blue-color;

    &:hover {
      background-color: $dark-blue-color;
    }

    &--blue {
      border: none;
      background-color: $light-blue-color;
    }

    &--red {
      border: none;
      background-color: $error-color;
      &:hover {
        background-color: $error-dark-color;
      }
    }
  }

  .server-title {
    text-shadow: 2px 2px 8px #000000;
    font-size: 50px;
    color: $gold-color;
    @media only screen and (max-width: 768px) {
      font-size: 35px;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.black-opacity {
      background: rgba(0, 0, 0, 0.4);
    }

    &.black-gradient {
      background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.37608546836703427) 100%);
    }

    &.blue-gradient {
      background: linear-gradient(0deg, $dark-blue-color 0%, rgba(0, 0, 0, 0.37608546836703427) 100%);
    }
  }

  .error {
    color: $error-color !important;
    font-size: 12px;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    position:fixed;
    top: 40%;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: $gold-color transparent $gold-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .gold {
    &-text {
      color: $gold-color;
    }
    &-bg {
      background: $gold-color;
    }
  }

  .blue {
    &-text {
      color: $light-blue-color;
    }
    &-bg {
      background-color: $light-blue-color;
    }
  }

  img.illidari-mark {
    width: 32px;
    border-radius: 25px;
    border: solid 3px #daa520;
    vertical-align: bottom;
  }

  .realmlist {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background: $dark-blue-color;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 50;
    box-shadow: $box-shadow-black-dark;
    border-radius: $border-radius;
    i {
      margin-left: 15px;
      cursor: pointer;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
