$padding: 35px;
$border-radius: 3px;

$brand-color: #222E32;
$light-blue-color: #3498db;
$dark-blue-color: #3787bd;
$light-blue-color-opacity: rgba(55, 135, 189, 0.4);
$dark-blue-color-opacity: rgba(55, 135, 189, 0.8);
$light-grey: #e5e3de;
$grey-dark: #999999 !default;
$alliance-color: rgba(20, 69, 135, 1);
$alliance-color-opacity: rgba(20, 69, 135, 0.7);
$horde-color: rgba(140, 22, 22, 1);
$horde-color-opacity: rgba(140, 22, 22, 0.7);
$gold-color: rgba(218,165,32, 1);
$error-color: #e74c3c;
$error-dark-color: #B44434;
$green: #2ecc71;

$text-shadow: 1px 1px 2px black;

$transition: all ease-in-out 0.2s;

$box-shadow-gold: 0 4px 8px 0 rgba(218,165,32, 0.2), 0 6px 20px 0 rgba(218,165,32, 0.19);
$box-shadow-gold-strong: 0 4px 8px 0 rgba(218,165,32,.8), 0 6px 20px 0 rgba(218,165,32,.8);
$box-shadow-black-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$box-shadow-black-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
$box-shadow-black-dark-hover:0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 2px 20px 0 rgba(0, 0, 0, 0.60);

$wrapper-max-width: 66rem;
