<div class="track-form form">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="create-form">
            <h2>{{ 'Send us your proof to win your reward' | t({}, {'context': 'warcraft_track'}) }}</h2>
            {{ content }}
        </div>
    </div>
</div>
