<div class="subscription form">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="create-form">
            <h2><i class="fas fa-user-circle"></i>{{ 'Create an account' | t({}, {'context': 'warcraft_core'}) }}</h2>

            {{ content }}
        </div>
    </div>
</div>
