<div class="vote-form form" id="votes">
  <div class="overlay"></div>
  <div class="wrapper">
    <div class="top-voters">
      <h2><i class="fas fa-medal"></i> {{ 'Top voters' | t({}, {'context': 'warcraft_core'}) }}</h2>
      <ul>
        {% for voter in voters %}
          <li>
            <span class="position">{{ loop.index }}</span> <span class="username">{{ voter.username }}</span> <span
              class="votes">{{ voter.votes ?? '0' }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="create-form">
      <h2><i class="fas fa-ticket-alt"></i> {{ 'Support us' | t({}, {'context': 'warcraft_core'}) }}</h2>
      <p>{{ 'Vote for us and you be rewarded with one point (later you will be able to use it)' | t({}, {'context': 'warcraft_core'}) }}</p>
      <div class="vote-container">
        <div class="vote-item">
          <div class="vote-image" style="background-image: url('/themes/custom/warcraft/assets/images/rpgparadize.gif')"></div>

          {% if time.rpg and time.rpg > 0 %}
            <p>{{ 'Prochain vote dans : <b>@time minutes</b>' | t({'@time': time.rpg}, {'context': 'warcraft'}) }}</p>
          {% else %}
            <a class="button button--blue" href="{{ path('warcraft_user.vote', {'site': 'rpg'}) }}" target="_blank">{{ "Vote for us" | t({}, {'context': 'warcraft_core'}) }}</a>
          {% endif %}
        </div>
        <div class="vote-item">
          <div class="vote-image" style="background-image: url('/themes/custom/warcraft/assets/images/serveur-prive.png')"></div>

          {% if time.serveurPrive and time.serveurPrive > 0 %}
            <p>{{ 'Prochain vote dans : <b>@time minutes</b>' | t({'@time': time.serveurPrive}, {'context': 'warcraft'}) }}</p>
          {% else %}
            <a class="button button--blue" href="{{ path('warcraft_user.vote', {'site': 'serveur-prive'}) }}" target="_blank">{{ "Vote for us" | t({}, {'context': 'warcraft_core'}) }}</a>
          {% endif %}
        </div>
        <div class="vote-item">
          <div class="vote-image" style="background-image: url('https://topg.org/topg.gif')"></div>

          {% if time.topg and time.topg > 0 %}
            <p>{{ 'Prochain vote dans : <b>@time minutes</b>' | t({'@time': time.topg}, {'context': 'warcraft'}) }}</p>
          {% else %}
            <a class="button button--blue" href="{{ path('warcraft_user.vote', {'site': 'topg'}) }}" target="_blank">{{ "Vote for us" | t({}, {'context': 'warcraft_core'}) }}</a>
          {% endif %}
        </div>
      </div>
    </div>

    <p class="vote-top-info">{{ 'Le classement se réinitialise chaque premier du mois à 01h00. Le premier reçoit 30 marques, le second 20 marques et le troisième 10 marques.' | t }}</p>
  </div>
</div>
