<div class="recuperation-form form">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="create-form">
            <h2><i class="fas fa-leaf"></i> {{ 'Récupérez votre personnage' | t({}, {'context': 'warcraft_core'}) }}</h2>
            {{ content }}
        </div>
    </div>
</div>
