<div class="donation-form form">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="create-form">
            <h2><i class="fab fa-paypal"></i> {{ 'Paypal' | t({}, {'context': 'warcraft_core'}) }}</h2>
            {{ content }}

            <hr />

            <h2><i class="fas fa-phone-alt"></i> {{ 'Allopass' | t({}, {'context': 'warcraft_core'}) }}</h2>
            <p>{{ 'Le allopass vous raportera 25 Marques Illidaris' | t({}, {'context': 'warcraft_core'}) }}</p>
            <!-- Begin Allopass Checkout Button Code -->
            <script type="text/javascript"
                    src="https://payment.allopass.com/buy/checkout.apu?ids=354258&amp;idd=1546726&amp;lang=fr"></script>

            <noscript>
                <a href="https://payment.allopass.com/buy/buy.apu?ids=354258&amp;idd=1546726" style="border:0">
                    <img src="https://payment.allopass.com/static/buy/button/fr/162x56.png" style="border:0"
                         alt="Achetez maintenant"/>
                </a>
            </noscript>
            <!-- End Allopass Checkout Button Code -->
        </div>
    </div>
</div>
