<h2>Vous avez reçu un nouveau message</h2>

<p>{{ 'Subject' | t({}, {'context': 'warcraft_core'}) }} : {{ values['subject'] }}</p>
<p>{{ 'Email' | t({}, {'context': 'warcraft_core'}) }} : {{ values['email'] }}</p>
<p>{{ 'Text' | t({}, {'context': 'warcraft_core'}) }} : {{ values['text'] }}</p>
