<h2>{{ 'Félicitations à vous !' | t({}, {'context': 'ucm_core'}) }}</h2>

<p>{{ 'Votre couple-parrainage ont été récompensé de 70 Marques Illidaris' | t({}, {'context': 'ucm_core'}) }}</p>

<p>Bon jeu à vous héros d'Azeroth !</p>
