<div class="instances-list wrapper">
    <div class="instances current">
        <h2>{{ 'Instances à venir' | t({}, {'context': 'warcraft_core'}) }}</h2>
        {{ instances }}
    </div>

    <div class="instances past">
        <h2>{{ 'Instances passées' | t({}, {'context': 'warcraft_core'}) }}</h2>
        {{ pastInstances }}
    </div>
</div>
