{#
/**
 * @file paypal_payment.html.twig
 * Default theme implementation to present Paypal payment data.
 *
 * This template is used when viewing Paypal payment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_paypal_payment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('paypal_payment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
