<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Revenez parmis nous encore plus fort grâce au sésame offert !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        * {
            -ms-text-size-adjust:100%;
            -webkit-text-size-adjust:none;
            -webkit-text-resize:100%;
            text-resize:100%;
        }
        a{
            outline:none;
            color:#fff;
            text-decoration:underline;
        }
        a:hover{text-decoration:none !important;}
        a[x-apple-data-detectors]{
            color:inherit !important;
            text-decoration:none !important;
        }
        .active:hover{opacity:0.8;}
        .btn,
        .active{
            -webkit-transition:all 0.3s ease;
            -moz-transition:all 0.3s ease;
            -ms-transition:all 0.3s ease;
            transition:all 0.3s ease;
        }
        .btn:hover{background:rgba(255, 255, 255, 0.14);}
        table td{border-collapse:collapse !important; mso-line-height-rule:exactly;}
        .ExternalClass, .ExternalClass a, .ExternalClass span, .ExternalClass b, .ExternalClass br, .ExternalClass p, .ExternalClass div{line-height:inherit;}
        @media only screen and (max-width:500px) {
            /* default style */
            table[class="flexible"]{width:100% !important;}
            *[class="hide"]{
                display:none !important;
                width:0 !important;
                height:0 !important;
                padding:0 !important;
                font-size:0 !important;
                line-height:0 !important;
            }
            td[class="img-flex"] img{width:100% !important; height:auto !important;}
            td[class="aligncenter"]{text-align:center !important;}
            th[class="flex"]{display:block !important; width:100% !important;}
            tr[class="table-holder"]{display:table !important; width:100% !important;}
            th[class="thead"]{display:table-header-group !important; width:100% !important;}
            th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
            /* custom style */
            td[class="wrapper"]{padding:0 !important;}
            td[class="header"]{padding:20px 10px 30px !important;}
            td[class="indent-link"]{
                text-align:center !important;
                padding:0 0 30px !important;
            }
            td[class="h-auto"]{height:auto !important;}
            td[class="frame"]{padding:20px 10px !important;}
            td[class="p-0"]{padding:0 !important;}
            td[class="product-holder"]{padding:30px 10px !important;}
            td[class="cite-box"]{padding:20px 10px !important;}
            td[class="cite-box"] *{text-align:center !important;}
            td[class="btn-indent"]{padding:20px 0 0 !important;}
            td[class="w-10"]{width:10px !important;}
        }
    </style>
</head>
<body style="margin:0; padding:0;background-image: url('https://les-terres-illidaris.fr/themes/custom/warcraft/assets/images/background_dwarf.png');background-size:cover;" bgcolor="#3787bd">
<table style="min-width:320px;" width="100%" cellspacing="0" cellpadding="0" bgcolor="#3787bd">
    <!-- fix for gmail -->
    <tr>
        <td style="line-height:0;"><div style="display:none; white-space:nowrap; font:15px/1px courier;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div></td>
    </tr>
    <!-- fix for gmail -->
    <tr>
        <td class="hide">
            <table width="600" cellpadding="0" cellspacing="0" style="width:600px !important;">
                <tr>
                    <td style="min-width:600px; font-size:0; line-height:0;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <!-- header -->
            <table data-module="header" data-thumb="thumbnails/img-01.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="header" style="padding:14px 0 13px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="74">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr class="table-holder">
                                                        <th width="224" class="tfoot" align="left" style="padding:0;">
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td class="aligncenter" style="text-align: center;"><a href="https://les-terres-illidaris.fr/" ><img src="https://les-terres-illidaris.fr/themes/custom/warcraft/assets/images/logo.png" height="110" width="230" border="0" style="vertical-align:top;" /></a></td>
                                                                </tr>
                                                            </table>
                                                        </th>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- section-01 -->
            <table data-module="banner" data-thumb="thumbnails/img-02.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img-flex"><a href="#" ><img src="https://les-terres-illidaris.fr/sites/default/files/styles/image_1920_1080/public/2020-02/sesame.jpg?h=d1cb525d&itok=nYQxKF-M" height="346" width="600" border="0" style="vertical-align:top;" alt="" /></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- section-02 -->
            <table data-module="article-01" data-thumb="thumbnails/img-03.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="frame" data-bgcolor="bg block" bgcolor="#3787bd" style="padding:58px 50px 29px;background-image: url('https://les-terres-illidaris.fr/themes/custom/warcraft/assets/images/background_dwarf.png');background-size:cover;">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="cite-box" style="border-radius:3px; padding:24px; border:1px solid #fff;">
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td data-color="title" data-size="size title" data-min="10" data-max="26" data-link-color="link text color" data-link-style="text-decoration:none; color:rgba(218,165,32, 1);text-shadow: 1px 1px 2px black;" align="center" style="padding:0 0 10px; font:bold 24px/26px Arial, Helvetica, sans-serif; color:rgba(218,165,32, 1);text-shadow: 1px 1px 2px black; text-transform: uppercase;">Azeroth a besoin de vous !</td>
                                                                </tr>
                                                                <tr>
                                                                    <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="text-decoration:underline; color:#fff;" style="font:12px/18px Arial, Helvetica, sans-serif; color:#fefefe;">En ces temps obscurs, Azeroth a plus que besoin de vous revoir !<br/><br />
                                                                        Nous ne pouvons rester indifférents à la situation actuelle et nous aimerions vous aider tout au long du confinement. C'est pourquoi toute l'équipe des Terres Illidaris a décidé, d'une part, <b>de vous offrir à tous 50 marques Illidaris</b> qui vous permettront d'acheter un <a href="https://les-terres-illidaris.fr/boutique" style="color:rgba(218,165,32, 1) !important" target="_blank">Sésame sur notre boutique en ligne !</a> <br />
                                                                        <p><a style="display: block; width: 70%; color:white !important; text-align: center; font-size: 15px; font-weight: bold; text-decoration: none; text-transform: uppercase; padding: 30px 0; margin: 0 auto 14px; background: rgba(218,165,32, 1);" target="_blank" href="https://les-terres-illidaris.fr/boutique">Récupérer son sésame !</a></p>
                                                                        D'autre part, nous avons également <b>augmenté le rate d'XP jusqu'à fois 8 !</b> durant la période de confinement !
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 5 -->
            <table data-module="img-block" data-thumb="thumbnails/img-06.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="img-flex"><a href="https://les-terres-illidaris.fr" ><img src="https://les-terres-illidaris.fr/sites/default/files/styles/image_1920_1080/public/2020-01/Treand.jpg?h=9eb5489f&itok=nNU3XcFY" height="auto" width="600" border="0" style="vertical-align:top;" alt="" /></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 4 -->
            <table data-module="post" data-thumb="thumbnails/img-05.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="frame" data-bgcolor="bg block" bgcolor="#3787bd" style="padding:46px 74px;background-image: url('https://les-terres-illidaris.fr/themes/custom/warcraft/assets/images/background_dwarf.png');background-size:cover;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td data-color="title post" data-size="size title" data-min="10" data-max="26" data-link-color="link title color" data-link-style="text-decoration:none; color:#fff;" align="center" style="padding:0 0 22px; font:bold 18px/21px Arial, Helvetica, sans-serif; color:#fff;text-shadow: 1px 1px 2px black;">Notre objectif</td>
                                        </tr>
                                        <tr>
                                            <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="text-decoration:underline; color:#fff;" class="aligncenter" style="font:12px/18px Arial, Helvetica, sans-serif; color:#fff;">Depuis quelques semaines, nous avons travaillé à la stabilité du serveur afin de vous offrir la meilleure expérience de jeu possible. Maintenant que nous sommes satisfaits de cette stabilité, nous souhaitons vous revoir et profiter de bons moments avec nous !<br /><br />
                                                N'hésitez pas à inviter vos amis, ils recevront aussi 50 marques dès leur inscription pour vous rejoindre rapidement ! </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 9 -->
            <table data-module="title" data-thumb="thumbnails/img-10.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td data-color="title" data-size="size title" data-min="10" data-max="26" data-link-color="link title color" data-link-style="text-decoration:none; color:#fff;" align="center" data-bgcolor="bg block" bgcolor="#DAA520" style="padding:26px 10px 27px; font:bold 18px/20px Arial, Helvetica, sans-serif; color:#fff;text-shadow: 1px 1px 2px black;">Nos autres actualités</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 10 -->
            <table data-module="btn-holder-1" data-thumb="thumbnails/img-11.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th width="300" class="flex" align="left" style="vertical-align:top; padding:0;">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td bgcolor="#3b5880" valign="top" background="https://les-terres-illidaris.fr/sites/default/files/2020-03/tauren_swag.jpg" style="background: url(https://les-terres-illidaris.fr/sites/default/files/2020-03/tauren_swag.jpg) no-repeat; background-position:50% 0; background-size: cover;">
                                                            <!--[if gte mso 9]>
                                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:300px; height:180px;">
                                                                <v:fill type="tile" src="http://s18.postimg.org/cjmszqu21/bg_01.jpg" color="#3b5880" />
                                                                <v:textbox inset="0,0,0,0">
                                                            <![endif]-->
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="180">
                                                                        <table align="center" width="188" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                                            <tr>
                                                                                <td data-size="size button" data-min="10" data-max="26" class="btn" align="center" style="mso-padding-alt:12px 23px 15px; border-radius:3px; font:14px/16px Arial, Helvetica, sans-serif; color:#fff; background-color:#3787bd;"><a href="https://les-terres-illidaris.fr/news/bonus-confinement" target="_blank" style="text-decoration:none; color:#fff; display:block; padding:13px 10px 14px;">Bonus de confinement</a></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!--[if gte mso 9]>
                                                            </v:textbox>
                                                            </v:rect>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </th>
                                            <th width="300" class="flex" align="left" style="vertical-align:top; padding:0;">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td bgcolor="#3b5880" valign="top" background="https://les-terres-illidaris.fr/sites/default/files/2020-02/boutique_banner.jpg" style="background: url(https://les-terres-illidaris.fr/sites/default/files/2020-02/boutique_banner.jpg) no-repeat; background-position:50% 0; background-size: cover;">
                                                            <!--[if gte mso 9]>
                                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:300px; height:180px;">
                                                                <v:fill type="tile" src="http://s18.postimg.org/nyja4d6eh/bg_02.jpg" color="#3b5880" />
                                                                <v:textbox inset="0,0,0,0">
                                                            <![endif]-->
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="180">
                                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td>
                                                                                    <table align="center" width="188" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                                                        <tr>
                                                                                            <td data-size="size button" data-min="10" data-max="26" class="btn" align="center" style="mso-padding-alt:12px 23px 15px; border-radius:3px; font:14px/16px Arial, Helvetica, sans-serif; color:#fff; background-color:#3787bd;"><a href="https://les-terres-illidaris.fr/news/la-boutique-bling-bling-est-la" target="_blank" style="text-decoration:none; color:#fff; display:block; padding:13px 10px 14px;">La boutique</a></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!--[if gte mso 9]>
                                                            </v:textbox>
                                                            </v:rect>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 11 -->
            <table data-module="btn-holder-2" data-thumb="thumbnails/img-12.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th width="300" class="flex" align="left" style="vertical-align:top; padding:0;">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td bgcolor="#3b5880" valign="top" background="https://les-terres-illidaris.fr/sites/default/files/2020-01/azeroth_map.jpg" style="background: url(https://les-terres-illidaris.fr/sites/default/files/2020-01/azeroth_map.jpg) no-repeat; background-position:50% 0; background-size: cover;">
                                                            <!--[if gte mso 9]>
                                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:300px; height:180px;">
                                                                <v:fill type="tile" src="http://s18.postimg.org/m8092vovd/bg_03.jpg" color="#3b5880" />
                                                                <v:textbox inset="0,0,0,0">
                                                            <![endif]-->
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="180">
                                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td>
                                                                                    <table align="center" width="188" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                                                        <tr>
                                                                                            <td data-size="size button" data-min="10" data-max="26" class="btn" align="center" style="mso-padding-alt:12px 23px 15px; border-radius:3px; font:14px/16px Arial, Helvetica, sans-serif; color:#fff; background-color:#3787bd;"><a href="https://les-terres-illidaris.fr/news/la-map-interactive-fait-son-apparition" target="_blank" style="text-decoration:none; color:#fff; display:block; padding:13px 10px 14px;">La Map interactive</a></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!--[if gte mso 9]>
                                                            </v:textbox>
                                                            </v:rect>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </th>
                                            <th width="300" class="flex" align="left" style="vertical-align:top; padding:0;">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td bgcolor="#3b5880" valign="top" background="https://les-terres-illidaris.fr/sites/default/files/2020-01/Illidan_high.jpg" style="background: url(https://les-terres-illidaris.fr/sites/default/files/2020-01/Illidan_high.jpg) no-repeat; background-position:50% 0; background-size: cover;">
                                                            <!--[if gte mso 9]>
                                                            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:300px; height:180px;">
                                                                <v:fill type="tile" src="http://s18.postimg.org/pp2b5unxl/bg_04.jpg" color="#3b5880" />
                                                                <v:textbox inset="0,0,0,0">
                                                            <![endif]-->
                                                            <table width="100%" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="180">
                                                                        <table width="100%" cellpadding="0" cellspacing="0">
                                                                            <tr>
                                                                                <td>
                                                                                    <table align="center" width="188" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                                                                                        <tr>
                                                                                            <td data-size="size button" data-min="10" data-max="26" class="btn" align="center" style="mso-padding-alt:12px 23px 15px; border-radius:3px; font:14px/16px Arial, Helvetica, sans-serif; color:#fff; background-color:#3787bd;"><a href="https://les-terres-illidaris.fr/news/roadmap-pve" target="_blank" style="text-decoration:none; color:#fff; display:block; padding:13px 10px 14px;">Roadmap PVE</a></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!--[if gte mso 9]>
                                                            </v:textbox>
                                                            </v:rect>
                                                            <![endif]-->
                                                        </td>
                                                    </tr>
                                                </table>
                                            </th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- module 13 -->
            <table data-module="footer" data-thumb="thumbnails/img-14.jpg" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrapper" style="padding:0 10px;" data-bgcolor="bg module" bgcolor="#313d5a">
                        <table class="flexible" width="600" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="frame" data-bgcolor="bg block" bgcolor="#3787bd" style="padding:16px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="text-decoration:underline; color:#fff;" align="center" style="font:12px/22px Arial, Helvetica, sans-serif; color:#fff;">
                                                Copyright &copy; 2020. All rights reserved.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
