<div class="server-infos">
    <div class="wrapper">
        <iframe width="760" height="430" src="https://www.youtube.com/embed/xhYtjN_IIho?controls=0" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen=""
        ></iframe>
        <a href="#">
            <div class="server-status">
                <div class="overlay"></div>
                <div class="content">
                    <p>{{ 'Le serveur est actuellement' | t({}, {'context': 'warcraft_core'}) }}</p>
                    {% if isServerUp %}
                        <h3 class="online">{{ 'EN LIGNE' | t({}, {'context': 'warcraft_core'}) }}</h3>
                        <p class="date">{{ 'since @uptime' | t({'@uptime': uptime | date('U') | format_date('short')}, {'context': 'warcraft_core'}) }}</p>
                    {% else %}
                        <h3 class="offline">{{ 'HORS LIGNE' | t({}, {'context': 'warcraft_core'}) }}</h3>
                    {% endif %}
                </div>
            </div>
        </a>
        <a href="#">
            <div class="server-characters">
                <div class="overlay"></div>
                <div class="content">
                    {{ characters.alliance | round(0, 'ceil') }}%
                    <div class="full-bar"><span class="population-bar alliance"
                                                style="width: {{ characters.alliance }}%;"></span></div>
                    <br/>
                    {{ characters.horde | round(0, 'floor') }}%
                    <div class="full-bar"><span class="population-bar horde"
                                                style="width: {{ characters.horde }}%;"></span></div>
                </div>
            </div>
        </a>
        <a href="#subscription-form">
            <div class="server-people">
                <div class="overlay"></div>
                <div class="content">
                    {{ '<span>Rejoignez-nous</span></br> dès maintenant' | t({'@people': 36}, {'context': 'warcraft_core'}) | raw }}
                </div>
            </div>
        </a>
    </div>

    <div class="character wrynn"></div>
    <div class="character thrall"></div>
</div>
