{{ attach_library('warcraft/shop') }}

<div
  id="shop"
  data-is-connected="{{ isConnected }}"
  data-products="{{ products | json_encode }}"
  data-characters-url="{{ charactersUrl }}"
  data-buy-item-url="{{ buyItemUrl }}"
></div>
