<h2>Bienvenue sur Les Terres Illidaris, {{ values['username'] }}</h2>

<p>Votre compte a été créé avec succès. N'hésitez pas à nous contacter en cas de soucis.</p>

<p>Bon jeu à vous héros d'Azeroth !</p>
