<h1>{{ 'Les Tickets' | t({}, {'context': 'warcraft_core'}) }}</h1>

<ul>
    {% for ticket in tickets %}
        <li>{{ ticket.created | format_date('short') }} <b class="gold">{{ ticket.author_name }}</b> : {{ ticket.text }}</li>
    {% endfor %}
</ul>
