<div class="banner {{ paragraph.field_banner_height.value }}"
     style="background-image: url('{{ media_url(paragraph.field_banner_image.entity) }}')">
  {% if paragraph.field_banner_video is not empty %}
    <video preload="metadata" src="{{ media_url(paragraph.field_banner_video.entity) }}" loop muted autoplay
           poster="{{ media_url(paragraph.field_banner_image.entity) }}" class="fullscreen">
      <source src="{{ media_url(paragraph.field_banner_video.entity) }}" type="video/mp4">
    </video>
  {% endif %}
  {% if isFront == false %}
    <div class="bottom-texture"></div>
  {% endif %}
  <div class="overlay {{ paragraph.field_banner_theme.value }}"></div>
  <div class="wrapper">
    <div class="container-text">
      <h1>{{ paragraph.field_banner_title.value | raw }}</h1>
      <p>{{ paragraph.field_banner_subtitle.value | raw }}</p>

      {% if paragraph.field_banner_link is not empty %}
        <a class="button button--blue" href="{{ paragraph.field_banner_link.0.url }}">
          {{ paragraph.field_banner_link.0.title }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
