<div class="highlighted">
    <div class="highlighted-background" style="background-image: url('{{ media_url(paragraph.field_two_highlighted_image.entity) }}')"></div>
    <h4>{{ paragraph.field_two_highlighted_title.value }}</h4>
    <p>{{ paragraph.field_two_highlighted_descr.value }}</p>
</div>
