<div class="video-youtube">
    <iframe width="560" height="315" src="{{ paragraph.field_video_youtube_url.value }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

