{% set mediaImage = paragraph.field_media_text_floating_image is not empty ? media_url(paragraph.field_media_text_floating_image.entity) : null %}

<div class="wrapper">
    <div id="paragraph-{{ paragraph.id() }}" class="media-text floating media-text--{{ paragraph.field_media_text_floating_pos.value }} {% if not mediaImage %}center{% endif %}">
        <div class="overlay"></div>
        <div class="text">
            <h3>{{ paragraph.field_media_text_floating_title.value }}</h3>

            <p>{{ paragraph.field_media_text_floating_text.value | raw }}</p>
            {% if paragraph.field_media_text_floating_url is not empty %}
                <a class="button" href="{{ paragraph.field_media_text_floating_url.0.url }}">
                    {{ paragraph.field_media_text_floating_url.0.title }}
                </a>
            {% endif %}
        </div>
        {% if mediaImage is not null %}
            <div class="image">
                <img src="{{ mediaImage }}"/>
            </div>
        {% endif %}
    </div>
</div>
