<div class="tabs">
    <div class="tabs-title">
        {% for tab in tabsTitle %}
            <div onclick="onClickTab(this)" class="tab-title {{ tab.active ? 'tab-active' : '' }}" data-tab-id="{{ tab.id }}">
                <span>{{ tab.title }}</span>
            </div>
        {% endfor %}
    </div>

    {{ content.field_tabs_items }}
</div>
