<div class="slider">
    <div class="wrapper">
        <div class="promo">
            <div class="container">
                <span><a href="/#subscription-form">{{ paragraph.field_slide_promo_subtitle.value }}</a></span>
                <h3>{{ paragraph.field_slider_promo_title.value }}</h3>
                <a class="button button--blue" href="{{ paragraph.field_slide_promo_url.0.url }}">
                    {{ paragraph.field_slide_promo_url.0.title }}
                </a>
            </div>
        </div>

        <div class="box-slides">
            <span class="slides-title left-title">{{ paragraph.field_slider_left_title.value }}</span>
            <span class="slides-title right-title">{{ paragraph.field_slider_right_title.value }}</span>
            <div class="slides owl-carousel owl-theme">
                {{ content.field_slider_slides }}
            </div>
        </div>
    </div>
</div>
