<div id="effort-guerre" style="background-image: url('{{ media_url(paragraph.field_effort_background.entity) }}')">
    <div class="wrapper">
        <span class="effort-title">{{ 'Suivez' | t({}, {'context': 'warcraft'}) }}</span>
        <h3>{{ 'L\'effort de guerre des Protecteurs Illidaris' | t({}, {'context': 'warcraft'}) }}</h3>

        <div class="collect">
            <div class="boss-gems">
                {% for raid in raids %}
                    <div class="prism {{ raid.isFinished ? 'active' : '' }}">
                        <img src="/themes/custom/warcraft/assets/images/crystal.png" alt="Crystal"/>
                        <span class="gem-title">{{ raid.name }}</span>
                    </div>
                {% endfor %}
            </div>
            {% for collect in collects %}
                <div class="collect-progress">
                    <span class="collect-title">{{ collect.name }}</span>
                    <progress max="100" value="{{ collect.percentage }}"></progress>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
