{{ attach_library('warcraft/countdown') }}

<div class="banner banner--countdown"
     style="background-image: url('{{ media_url(paragraph.field_countdown_background.entity) }}')">
    {% if paragraph.field_countdown_background_video is not empty %}
        <video preload="metadata" src="{{ media_url(paragraph.field_countdown_background_video.entity) }}" loop muted
               autoplay
               poster="{{ media_url(paragraph.field_countdown_background.entity) }}" class="fullscreen">
            <source src="{{ media_url(paragraph.field_countdown_background_video.entity) }}" type="video/mp4">
        </video>
    {% endif %}
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="container-text">
            <h1>{{ paragraph.field_countdown_banner_title.value | raw }}</h1>
            <p>{{ paragraph.field_countdown_banner_text.value | raw }}</p>
        </div>

        <div class="promo">
            <span><a href="/#subscription-form">{{ paragraph.field_countdown_promo_subtitle.value }}</a></span>
            <h3>{{ paragraph.field_countdown_promo_title.value }}</h3>
            <a class="button button--blue" href="{{ paragraph.field_countdown_promo_cta.0.url }}">
                {{ paragraph.field_countdown_promo_cta.0.title }}
            </a>
        </div>
    </div>

    {% if not isCountdownFinished %}
        <div class="countdown">
            <img src="/themes/custom/warcraft/assets/images/khadgar.png" class="khadgar" alt="Khadgar"/>
            <span><a href="/#subscription-form">{{ paragraph.field_countdown_subtitle.value }}</a></span>
            <h3>{{ paragraph.field_countdown_title.value }}</h3>
            <div id="countdown-date" data-date="{{ paragraph.field_countdown_date.value }}"></div>
        </div>
    {% else %}
        <div class="collect">
            <div class="collect-progress">
                <span class="collect-title">{{ 'L\'effort de guerre des Protecteurs Illidaris est en court !' | t({}, {'context': 'warcraft'}) }}</span>
                <progress max="100" value="{{ collectTotal.percentage }}"></progress>
            </div>
            <div class="boss-gems">
                {% for raid in raids %}
                    <div class="prism {{ raid.isFinished ? 'active' : '' }}">
                        <img src="/themes/custom/warcraft/assets/images/crystal.png" alt="Crystal"/>
                    </div>
                {% endfor %}
            </div>
            <a class="button button--blue" href="#effort-guerre">
                {{ 'Suivre l\'effort de guerre' | t({}, {'context': 'warcraft'}) }}
            </a>
        </div>
    {% endif %}

</div>
