<div class="slide">
    <a href="{{ paragraph.field_slide_url ? paragraph.field_slide_url.0.url : '#' }}">
        <div class="slide-image"
             style="background-image: url('{{ media_url(paragraph.field_slide_image.entity) }}')"></div>
        <span>{{ paragraph.field_slide_title.value }}</span>
    </a>
</div>
