{% set bg = paragraph.field_media_text_background is not empty ? media_url(paragraph.field_media_text_background.entity) : null %}
{% set mediaImage = paragraph.field_media_text_image is not empty ? media_url(paragraph.field_media_text_image.entity) : null %}

<div class="wrapper">
    <div id="paragraph-{{ paragraph.id() }}" class="media-text media-text--{{ paragraph.field_media_text_position.value }} {% if not mediaImage %}center{% endif %} {% if paragraph.field_media_text_has_shadow.value %}shadow{% endif %}"
         style="background-image: url('{{ bg }}')">
        <div class="overlay black-opacity"></div>
        <div class="text">
            <h3>{{ paragraph.field_media_text_title.value }}</h3>

            <p>{{ paragraph.field_media_text_text.value | raw }}</p>
            {% if paragraph.field_media_text_link is not empty %}
                <a class="button" href="{{ paragraph.field_media_text_link.0.url }}">
                    {{ paragraph.field_media_text_link.0.title }}
                </a>
            {% endif %}
        </div>
        {% if mediaImage is not null %}
            <div class="image">
                <img src="{{ mediaImage }}"/>
            </div>
        {% endif %}
    </div>
</div>
