<div class="paragraph-map">
  <iframe src="{{ map_url }}"></iframe>
  <a class="button button--blue" href="{{ map_url }}" target="_blank">
    {{ 'View map' | t({}, {'context': 'ucm_core'}) }}
  </a>
</div>
