<div class="wrapper">
  <div
    class="paragraph-image {{ paragraph.field_image_theme.value }}"
    style="background-image: url('{{ media_url(paragraph.field_image_image.entity) }}')"
  >
  </div>
</div>

