{% set bg = paragraph.field_highlight_background is not empty ? media_url(paragraph.field_highlight_background.entity) : null %}

<div class="paragraph-highlight" style="background: url('{{ bg }}')">
  <div class="overlay black-opacity"></div>
  <h3>{{ paragraph.field_highlight_text.value }}</h3>
</div>
