<div class="banner hf-rank"
     style="background-image: url('/themes/custom/warcraft/assets/images/elwynn.jpg')">
    <div class="bottom-texture"></div>
    <div class="overlay blue-gradient"></div>
    <div class="wrapper">
        <div class="container-text">
            <h1>{{ 'HAUTS-FAITS' | t({}, {'context': 'warcraft_achievement'}) }}</h1>
            <p>{{ 'Découvrez tous les Hauts-Faits du jeu ainsi que les vôtres. Pour voir ses HF en jeu, il suffit simplement d\'écrire la commande dans le chat ".hf"' | t({}, {'context': 'warcraft_achievement'}) }}</p>
        </div>
        <div class="ranking">
            <ol>
                {% for rank in ranks %}
                    <li>
                        <h3>{{ rank.username }} <span>{{ rank.points }} <svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 64 64"
                                                                             class="hf-icon injected-svg Icon-svg"
                                                                             data-src="https://assets.worldofwarcraft.com/static/components/Icon/svg/achievement-shield.69931dc20a64225f093d504faf2afb34.svg#achievement-shield"
                                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                             data-queryselectoralways-ignore=""><path
                                            xmlns="http://www.w3.org/2000/svg"
                                            d="M51.492 3.677c-5.941 1.654-14.886 3.906-19.494 3.906-4.611 0-13.553-2.252-19.495-3.906-2.937-.815-5.875 1.255-5.875 4.144v34.684c0 1.336.657 2.597 1.778 3.415l20.792 15.176a4.765 4.765 0 002.8.904c.989 0 1.981-.3 2.805-.904L55.594 45.92c1.122-.818 1.778-2.08 1.778-3.415V7.823c-.002-2.888-2.942-4.961-5.88-4.146z"
                                            id="achievement-shield-4"></path></svg></span></h3>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<div class="wrapper">
</div>
<ul class="achievement-categories">
    {% for category in categories %}
        <li class="{{ category.active ? 'active' : '' }}">
            <a href="{{ category.url }}">{{ category.me ? '<i class="fas fa-user-circle gold-text"></i>' : '' }} {{ category.title }}
                <span class="count"> ({{ category.count }})</span></a>
        </li>
    {% endfor %}
</ul>
<div class="wrapper">
    <div class="achievements">
        <div class="hf-results">
            {% for achievement in achievements %}
                <div class="achievement {{ achievement.active ? 'active' : '' }}">
                    {% if achievement.active %}
                        <i class="fas fa-trophy"></i>
                        <div class="overlay blue-gradient"></div>
                    {% endif %}
                    <span class="points">{{ achievement.points }}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                             class="hf-icon injected-svg Icon-svg"
                             data-src="https://assets.worldofwarcraft.com/static/components/Icon/svg/achievement-shield.69931dc20a64225f093d504faf2afb34.svg#achievement-shield"
                             xmlns:xlink="http://www.w3.org/1999/xlink" data-queryselectoralways-ignore=""><path
                                    xmlns="http://www.w3.org/2000/svg"
                                    d="M51.492 3.677c-5.941 1.654-14.886 3.906-19.494 3.906-4.611 0-13.553-2.252-19.495-3.906-2.937-.815-5.875 1.255-5.875 4.144v34.684c0 1.336.657 2.597 1.778 3.415l20.792 15.176a4.765 4.765 0 002.8.904c.989 0 1.981-.3 2.805-.904L55.594 45.92c1.122-.818 1.778-2.08 1.778-3.415V7.823c-.002-2.888-2.942-4.961-5.88-4.146z"
                                    id="achievement-shield-4"></path></svg>
                    </span>
                    <h4>{{ achievement.title }}</h4>
                    <p>{{ achievement.description }}</p>
                    {% if achievement.reward %}
                        <div class="reward">
                            <p>
                                <span>{{ 'Récompense' | t({}, {'context': 'warcraft'}) }}</span> {{ 'Titre : ' | t({}, {'context': 'warcraft'}) }}
                                {{ achievement.reward }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
