.form.reset-password, .form.login {
  .create-form {
    form {
      input {
        margin: 10px auto;
        &[type="button"] {
          height: auto;
          color: white;
          display: block;
          width: 150px;
          text-align: center;
          border-radius: 3px;
          border: 1px solid #3498db;
          padding: 12px 0;
          background: none;
          margin: 35px auto;
          font-size: 16px;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -o-transition: $transition;

          &:hover {
            background-color: $dark-blue-color;
          }
        }
      }
    }
  }
}

.form.login {
  min-height: 60vh;
}
