.achievement-categories {
  display: block;
  margin: 0 auto 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 $padding;
  box-shadow: $box-shadow-gold;
  li {
    @media only screen and (max-width: 768px) {
      display: block;
      width: 100%;
    }
    &.active {
      a {
        text-shadow: $text-shadow;
        color: $gold-color;
        font-weight: bold;
      }
    }
    a {
      padding: 15px;
      display: block;
      i {
        margin-right: 5px;
      }
    }
  }
}
.achievements {
  margin-bottom: $padding;
  .hf-results {
    .achievement {
      @media only screen and (max-width: 768px) {
        min-height: 65px;
        height: auto;
        padding-bottom: 25px;
      }
      position: relative;
      background: rgba(0, 0, 0, 0.2);
      padding: 2px 30px;
      height: 65px;
      color: white;
      -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      &:nth-child(odd) {
        background: rgba(0, 0, 0, 0.4);
      }
      * {
        position: relative;
        z-index: 5;
      }
      .overlay {
        position: absolute;
        z-index: 2;
      }
      i {
        font-size: 15px;
        position: absolute;
        left: 6px;
        vertical-align: middle;
        top: 20px;
        color: $gold-color;
        text-shadow: $text-shadow;
      }
      .points {
        float: right;
        margin-top: 23px;
      }
      .reward {
        text-align: center;
        bottom: 5px;
        left: 0;
        position: absolute;
        width: 100%;
        span {
          background: $gold-color;
          color: black;
          border-radius: 2px;
          padding: 2px 10px;
          font-weight: bold;
        }
      }
      h4 {
        margin: 10px 0 0 0;
        text-transform: uppercase;
        color: $gold-color;
        text-shadow: $text-shadow;
      }
      p {
        margin: 2px 0 0 0;
        font-size: 12px;
      }
    }
  }
}

.banner.hf-rank {
  height: 620px;
  @media only screen and (max-width: 768px) {
    height: auto;
  }
  .wrapper {
    .container-text {
      top: inherit !important;
      margin-top: 150px;
    }
  }
  .ranking {
    margin: $padding auto;
    position: relative;
    ol {
      @media only screen and (max-width: 768px) {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
      }
      padding: 0;
      margin: 0;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      counter-reset: item;
      column-gap: 20px;
      li {
        display: block;
        list-style-position: inside;
        width: 100%;
        color: $gold-color;
        background: rgba(0, 0, 0, 0.2);
        &:nth-child(odd) {
          background: rgba(0, 0, 0, 0.4);
        }
        padding: 10px;
        h3 {
          margin: 0;
          margin-left: 20px;
          text-shadow: black;
        }
        span {
          float: right;
          color: white;
        }
        &::before {
          content: counter(item);
          counter-increment: item;
          color: white;
          font-size: 12px;
          line-height: 23px;
          float: left;
        }
      }
    }
  }
}

.hf-icon {
  fill: #F8B700;
  width: 18px;
  height: 18px;
  float: right;
  margin-left: 5px;
}
