.banner {
  width: 100%;
  height: 500px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  &.small {
    height: 350px;
    .wrapper {
      .container-text {
        top: 100px;
      }
    }
  }

  video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bottom-texture {
    width: 100%;
    background: url("../images/texture_line_simple.jpg");
    height: 27px;
    bottom: 0;
    position: absolute;
    z-index: 10;
  }

  .wrapper {
    position: relative;
    width: $wrapper-max-width;
    @media only screen and (max-width: 768px) {
      width: 90%;
    }
    .container-text {
      text-align: center;
      margin: auto;
      position: relative;
      padding: 15px;
      top: 200px;
      color: #fff;
      p {
        text-shadow: $text-shadow;
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 35px;
      text-shadow: $text-shadow;
    }

    .button {
      font-size: 20px;
      position: relative;
      padding: 12px;
      margin: 35px auto;
    }
  }
  .user-attributes {
    position: absolute;
    z-index: 6;
    text-align: center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    font-size: 30px;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    min-height: 500px;
    video {
      display: none;
    }
    .wrapper {
      h1 {
        word-break: break-word;
      }
      .container-text {
        top: 150px;
      }
    }
  }
}
