.banner.banner--countdown {
  height: 800px;

  .wrapper {
    width: 100%;

    .container-text {
      text-align: left;
      width: 700px;
      left: $padding;
      margin: unset;
      top: 150px;

      h1 {
        color: $gold-color;
        text-shadow: $text-shadow;
      }
    }

    .promo {
      font-size: 0.8rem;
      position: absolute;
      right: 0;
      width: 500px;
      padding: $padding;
      box-sizing: border-box;
      padding-top: 170px;
      color: white;
      top: 0;
      height: 380px;
      background-color: #001126;

      span {
        a {
          color: grey;
        }
      }

      h3 {
        margin-top: 5px;
      }

      .container {
        width: 80%;
      }

      .button {
        width: 260px;
        font-size: 1rem;
        margin: unset;
        margin-top: 25px;
      }
    }
  }

  .collect {
    bottom: 150px;
    position: absolute;
    width: 100%;
    left: 35px;
    .collect-progress {
      position: relative;
      width: 50%;
      display: inline-block;

      span.collect-title {
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 15px;
        display: block;
        text-shadow: $text-shadow;
      }

      progress {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 8px 0 0 0;
        margin: 0;
        background: none;
        border: 0;
        border-radius: 50px;
        text-align: left;
        position: relative;
        font-size: 15px;
      }

      progress::-webkit-progress-bar {
        height: 40px;
        padding-left: 0px;
        background-color: #dadada;
        border-radius: 100px;
      }

      progress::-webkit-progress-value {
        display: inline-block;
        float: left;
        margin: 0px -10px 0 0;
        padding-left: 50px; /* Rounded corners requires a padding */
        background: #daa520;
        border-radius: 25px;
        height: 40px;
      }
    }

    .boss-gems {
      display: inline-block;
      width: 225px;
      margin-left: 18px;
      position: relative;
      top: 10px;

      .prism {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin: 0 5px;
        border-radius: 100px;
        background: white;
        text-align: center;
        box-sizing: border-box;

        &.active {
          background: $gold-color;
        }

        img {
          width: 80%;
          text-align: center;
          margin-top: 5px;
        }
      }
    }

    .button {
      display: inline-block;
      padding: 15px;
      width: 200px;
      bottom: 5px;
      position: relative;
    }
  }

  .countdown {
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: white;
    padding: $padding;
    height: 250px;
    box-sizing: border-box;
    background-image: url(../images/background_dirt.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    box-shadow: $box-shadow-black-dark;

    .khadgar {
      position: absolute;
      right: 0;
      bottom: -80px;
      width: 420px;
    }

    h3 {
      font-size: 2rem;
      color: $gold-color;
      text-shadow: $text-shadow;
      margin-top: 0;
    }

    .countdown-elements {
      .countdown-element {
        margin: 10px $padding;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: $text-shadow;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner.banner--countdown {
    height: 90vh;

    .wrapper {
      .container-text {
        width: 100%;
        position: initial;
        margin-top: 80px;
        padding: 15px;
        box-sizing: border-box;
      }

      .promo {
        display: none;
      }
    }

    .countdown {
      bottom: 0;
      padding: 25px 5px;

      .countdown-elements {
        .countdown-element {
          margin: 10px;
          font-size: 1rem;
          display: block;
        }
      }

      .khadgar {
        display: none;
      }
    }

    .collect {
      bottom: 70px;
      left: 0;
      text-align: center;
      .collect-progress {
        margin: auto;
        display: block;
        width: 80%;
        padding: 10px;
      }
      .boss-gems {
        display: block;
        margin: auto;
      }
      .button {
        display: block;
        margin: auto;
        bottom: -25px;
      }
    }
  }
}
