#effort-guerre {
  padding-top: $padding;
  padding-bottom: $padding;
  background-size: cover;
  background-position: center center;
  .wrapper {
    width: 80%;

    span.effort-title {
      text-align: center;
      color: white;
      display: block;
    }

    h3 {
      color: $gold-color;
      text-shadow: $text-shadow;
      text-align: center;
      font-size: 2rem;
      margin-top: 5px;
    }

    .collect {
      width: 100%;

      .collect-progress {
        display: inline-block;
        width: 48%;
        margin: 20px 5px 5px 5px;

        span.collect-title {
          color: white;
          font-weight: normal;
          font-size: 1rem;
          margin: 5px 0;
          display: block;
          text-shadow: $text-shadow;
        }

        progress {
          display: inline-block;
          width: 100%;
          height: 40px;
          padding: 8px 0 0 0;
          margin: 0;
          background: none;
          border: 0;
          border-radius: 50px;
          text-align: left;
          position: relative;
          font-size: 15px;
        }

        progress::-webkit-progress-bar {
          height: 40px;
          padding-left: 0px;
          background-color: #dadada;
          border-radius: 100px;
        }

        progress::-webkit-progress-value {
          display: inline-block;
          float: left;
          margin: 0px -10px 0 0;
          padding-left: 50px; /* Rounded corners requires a padding */
          background: #daa520;
          border-radius: 25px;
          height: 40px;
        }
      }

      .boss-gems {
        display: block;
        margin: auto;
        width: 60%;
        text-align: center;
        margin-bottom: 70px;

        .prism {
          width: 100px;
          height: 100px;
          display: inline-block;
          margin: 0 40px;
          border-radius: 100px;
          background: white;
          text-align: center;
          box-sizing: border-box;
          vertical-align: middle;
          margin-bottom: 50px;

          .gem-title {
            color: white;
            display: block;
            margin-top: 20px;
          }

          &.active {
            background: $gold-color;
          }

          img {
            width: 80%;
            text-align: center;
            margin-top: 9px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #effort-guerre {
    .wrapper {
      .collect {
        .collect-progress {
          width: 100%;
        }
        .boss-gems {
          .prism {
            margin-bottom: 100px;
          }
        }
      }
    }
  }
}
