
.contact-form.form {
  background-image: url(../images/elwynn.jpg);

  .create-form {
    background: rgba(55, 135, 189, .7);

    textarea, input {
      background: white;
      color: black;
    }

    .form-submit {
      border-color: white;
    }
  }
}

.donation-form.form {
  background-image: url(../images/flying_dwarf.jpg);
  min-height: 65vh;
  .wrapper {
    .create-form {
      padding-bottom: $padding;
      form {
        label {
          width: 80%;
          margin: auto;
          color: $gold-color;
          text-shadow: $text-shadow;
        }
        select {
          width: 80%;
          border: none;
          border-radius: $border-radius;
          padding: 15px;
          margin: auto;
          display: block;
          background: $light-blue-color;
          text-align: center;
        }
      }
    }
  }
}

.recuperation-form.form {
  .wrapper {
    .create-form {
      label {
        width: 80%;
        margin: auto;
        color: $gold-color;
      }
      label.already-max-level-label {
        color: $error-color;
      }
      input {
        display: block;
        width: 80%;
        box-sizing: border-box;
      }
      .files-label {
        margin-top: 55px;
        border-bottom: solid 1px white;
      }
      input.is-disabled {
        background: $grey-dark;
        border: none;
        cursor: not-allowed;
        &:hover {
          background: $grey-dark;
          cursor: not-allowed;
          border: none;
        }
      }
      .js-form-type-managed-file {
        input.form-file {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        label {
          font-size: 0.75em;
          color: white;
          background-color: black;
          display: block;
          padding: 15px;
          box-sizing: border-box;
          margin: auto;
          cursor: pointer;
          text-align: center;
          text-transform: inherit;
          border-radius: $border-radius;
          font-weight: normal;
          border: dashed 1px white;
        }
        .button.js-form-submit.form-submit {
          margin: 0 auto;
          width: 30%;
        }
        span.file--image {
          display: block;
          margin: auto;
          width: 80%;
          padding: 15px;
          box-sizing: border-box;
          a {
            color: $light-grey;
            padding-left: 15px;
          }
        }
        label,
        label:hover {
          background-color: $dark-blue-color-opacity;
        }
      }

      .description {
        width: 80%;
        display: block;
        margin: auto;
      }
      select {
        background: $dark-blue-color-opacity;
      }
    }
  }
}

.vote-form.form {
  background-image: none;
  background-color: inherit;

  .wrapper {
    padding: $padding 0;
    .create-form {
      background-image: url("../images/background_dwarf.png");
      background-color: $dark-blue-color;
      background-size: cover;
      width: 450px;
      display: inline-block;
      height: auto;
      .form-submit {
        width: 220px;
      }
      .vote-link {
        padding: 40px 0;
        a {
          padding: 10px;
          border-bottom: dotted 3px $gold-color;
        }
      }
      @media only screen and (max-width: 768px) {
        width: auto;
      }

      form {
        padding: 0 20px;
      }
    }
    .vote-top-info {
      position: relative;
      z-index: 9;
      color: white;
      font-size: 12px;
    }
  }
}

.subscription, .form {
  position: relative;
  text-align: center;
  background-size: cover;
  background-image: url("../images/undead_bg.jpg");
  background-color: $dark-blue-color;
  background-repeat: no-repeat;

  .wrapper {
    padding: $padding 0;
    select {
      width: 80%;
      border: none;
      border-radius: $border-radius;
      padding: 15px;
      margin: auto;
      display: block;
      background: $light-blue-color;
      text-align: center;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 135, 189, .3);
    z-index: 3;
  }

  .create-form {
    position: relative;
    z-index: 5;
    border-radius: 5px;
    box-shadow: $box-shadow-black-light;
    color: white;
    padding: 0 $padding;
    width: 600px;
    vertical-align: top;
    min-height: 400px;
    margin: auto;

    .password-parent, .confirm-parent {
      max-width: none;
      overflow: inherit;
    }

    h2 {
      padding-top: $padding;
      text-transform: uppercase;

      i {
        margin-right: 15px;
        color: $gold-color;
      }
    }

    form {
      text-align: left;
      padding: 30px 20px;

      &.is-loading {
        opacity: 0.6;
      }

      input {
        border-radius: $border-radius;
        box-shadow: none;
        outline: none;
        border: none;
        width: 100%;
        height: 35px;
        padding-left: 15px;
        margin: auto;
        background: $dark-blue-color-opacity;
        font-size: 12px;
        &:disabled {
          background: $dark-blue-color;
        }
      }

      .form-file {
        background: none;
      }

      .js-hide.button.js-form-submit.form-submit {
        display: none;
      }

      textarea {
        border-radius: $border-radius;
        box-shadow: none;
        outline: none;
        border: none;
        width: 100%;
        padding: 5px 15px;
        margin: auto;
        background: $dark-blue-color-opacity;
        font-size: 12px;
      }

      label {
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
      }

      .form-submit {
        height: auto;
        color: white;
        display: block;
        width: 150px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #3498db;
        padding: 12px 0;
        background: none;
        margin: 35px auto;
        font-size: 16px;

        &:hover {
          background-color: $dark-blue-color;
        }
      }

      .password-strength__title, .password-confirm {
        font-size: 12px;
        color: lightgray;
      }

      .password-confirm {
        padding-top: 5px;
      }

      .password-suggestions.description {
        display: none !important;
      }

      .description {
        padding-top: 5px;
        font-size: 12px;
        color: $light-grey;
        span {
          color: $gold-color;
        }
      }
    }
  }

  .create-form {
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .vote-form.form {
    .create-form {
      display: block;
    }
  }
  .subscription, .form {
    .create-form {
      width: auto;
      padding: 30px 5px;

      h2 {
        i {
          margin-right: 5px;
        }
      }

      form {
        input {
          padding-left: 10px;
        }
      }
    }
  }
}
