.paragraph-highlight {
  background-position: center center;
  min-height: 100px;
  position: relative;
  h3 {
    margin: auto;
    display: block;
    text-align: center;
    color: white;
    position: relative;
    z-index: 5;
    font-weight: normal;
    width: $wrapper-max-width;
    padding: $padding 0;
  }
}

@media only screen and (max-width: 768px) {
  .paragraph-highlight {
    h3 {
      width: 100%;
    }
  }
}
