.paragraph-image {
  width: 1024px;
  height: 500px;
  background-size: cover;
  margin: 35px auto;
  border-radius: 3px;
  &.gold-shadow{
    box-shadow: $box-shadow-gold;
  }
  &.black-shadow{
    box-shadow: $box-shadow-black-dark;
  }
}

@media only screen and (max-width: 768px) {
  .paragraph-image {
    width: 100%;
    height: 300px;
    background-position: center;
  }
}
