.paragraph-map {
  iframe {
    height: 948px;
    width: 965px;
    display: block;
    margin: 35px auto;
    box-shadow: 0 2px 11px 0 rgba(218, 165, 32, 1), 0 0px 13px 0 rgba(218,165,32,.19);
    border: none;
  }
  .button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .paragraph-map {
    iframe {
      display: none;
    }
    .button {
      display: block;
      margin: $padding auto;
      padding: $padding;
    }
  }
}
