.floating.media-text {
  box-shadow: none;
  &--left {
    .image {
      img {
        left: 0;
      }
    }
  }
  &--right {
    .image {
      img {
        right: 0;
      }
    }
  }
  min-height: 500px;
  .text {
    border-radius: 3px;
    background-image: url("../images/background_dwarf.png");
    background-color: $dark-blue-color;
    background-position: center center;
    background-size: cover;
    padding: $padding;
    z-index: 7;
    box-shadow: $box-shadow-black-dark;
    .fa-windows, .fa-apple {
      padding: 0 10px 0 0;
      font-size: 35px;
      vertical-align: sub;
    }
    .button {
      background: $dark-blue-color;
      margin: auto;
    }
  }
  .image {
    position: relative;
    img {
      position: absolute;
      width: 125%;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
.media-text {
  padding: $padding 0;
  margin: $padding auto;
  display: flex;
  background-size:cover;
  position: relative;
  border-radius: 5px;
  box-shadow: $box-shadow-black-dark;
  .overlay {
    border-radius: 5px;
  }
  &.shadow {
    margin: 10px 0;
    box-shadow: $box-shadow-black-light;;
  }
  &.center {
    .text {
      width: 100%;
      text-align: center;
      flex-grow: inherit;
      flex-shrink: inherit;
      flex-basis: 100%;
      ul {
        text-align: left;
      }
      .button {
        margin: auto;
      }
    }
  }
  .text {
    z-index:5;
    color: white;
    padding: 0 25px;
    flex-grow: 0;
    flex-basis: 50%;
    ul {
      li {
        display: list-item;
        padding: 2px 0;
        text-transform: inherit;
      }
    }
    h3 {
      margin-top: 0;
      font-size: 30px;
      text-shadow: $text-shadow;
      color: $gold-color;
      text-transform: uppercase;
    }
    p {
      margin: 35px 0;
    }
    .button {
      padding: 12px 10px;
      margin-left: 0;
      border-bottom: solid 1px $light-blue-color;
      &:hover {
        border-bottom: solid 1px $light-blue-color;
      }
    }
    a {
      font-weight: normal;
      border-bottom: dotted 1px white;
      &:hover {
        color: $light-grey;
        border-bottom: dotted 1px $light-grey;
      }
    }
  }
  .image {
    z-index:5;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -o-transition: $transition;
      width: 80%;
      border-radius: 5px;
      box-shadow: $box-shadow-black-light;
      &:hover {
        box-shadow: $box-shadow-black-dark;
      }
    }
  }
  &--left {
    .text {
      order: 2;
    }
    .image {
      order: 1;
    }
  }
}

@media only screen and (max-width: 768px) {
  .floating.media-text {
    .image {
      img {
        position: initial;
        width: 100%;
      }
    }
  }

  .media-text {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    padding: 0;
    padding-top: 15px;

    .text {
      text-align: center;
      order: 2;
      padding: 0;
      .button {
        margin: 10px auto;
      }
    }

    .image {
      padding: $padding;
      order: 1;
    }
  }
}
