.server-infos {
  padding: 25px 0;
  background-color: $dark-blue-color;
  position: relative;

  .wrapper {
    display: flex;

    iframe {
      display: block;
      position: relative;
      margin: auto;
      z-index: 5;
    }

    a {
      flex-grow: 0;
      flex-basis: 33%;
      height: 15vw;
      margin: 5px;
      position: relative;
      z-index: 10;
      display: none;

      &:hover {
        .overlay {
          background-color: rgba(52, 73, 94, 0.4);
        }
      }
    }

    .server-status, .server-characters, .server-people {
      border-radius: 5px;
      box-shadow: $box-shadow-black-light;
      color: white;
      background-color: $dark-blue-color-opacity;
      text-align: center;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      height: 100%;

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(52, 73, 94, 0.8);
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
      }

      .content {
        padding: 5vw $padding;
        position: relative;
      }
    }

    .server-status {
      background-image: url('../images/ragnaros.jpg');

      * {
        z-index: 2;
        position: relative;
      }

      h3 {
        font-size: 30px;
        line-height: 10px;

        &::before {
          display: inline-block;
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 100%;
          margin-right: 5px;
          vertical-align: middle;
        }

        &.online {
          &::before {
            background-color: #2ff800;
          }
        }

        &.offline {
          &::before {
            background-color: red;
          }
        }
      }

      p {
        font-size: 15px;
        color: $light-grey;
        line-height: 0;
      }
    }

    .server-characters {
      background-image: url('../images/alliance_horde.jpg');
      display: block;
      position: relative;

      .full-bar {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        display: inline-block;
        height: 5px;
        margin-bottom: 3px;
        margin-left: 5px;
        width: 100%;

        .population-bar {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;

          &.alliance {
            background: $alliance-color;
          }

          &.horde {
            background: $horde-color;
          }
        }
      }
    }

    .server-people {
      background-image: url('../images/vanilla_login_bg.jpg');

      span {
        font-size: 36px;

      }
    }
  }

  .button {
    margin: 35px auto;
    padding: $padding;
  }

  .character {
    width: 40%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    z-index: 1;

    &.thrall {
      background-position: bottom right;
      right: 0;
      background-image: url("../images/thrall.png");
    }

    &.wrynn {
      left: 0;
      background-image: url("../images/varian.png");
    }
  }
}

@media only screen and (max-width: 768px) {
  .server-infos {
    .character {
      display: none;
      flex-basis: 100%;
      height: auto;
    }

    .wrapper {
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      iframe {
        display: none;
      }

      a {
        height: auto;
        display: block;
      }
    }
  }
}
