#shop {
  .catalog {
    margin-bottom: $padding;
    .box-not-connected {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;

      .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 50;
      }

      .container {
        z-index: 50;
        background-image: url("../images/background_dwarf.png");
        background-size: cover;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: $border-radius;
        width: 66rem;
        min-height: 400px;
        background-color: $light-blue-color;
        padding: $padding;
        text-align: center;
        top: 25vh;
        position: fixed;
        h2 {
          color: $gold-color;
        }
        .error {
          color: white !important;
          font-size: 13px;
          background: red;
          border-radius: $border-radius;
          width: 30%;
          margin: 15px auto 0;
          padding: 5px;
        }
        select {
          border-radius: $border-radius;
          background: $dark-blue-color;
          color: white;
          margin: $padding auto;
          padding: 25px 55px;
          border: none;
          display: block;
        }
        button {
          display: block;
          margin: auto;
          padding: 15px;
          background: $gold-color;
          color: white;
          border: none;
          border-radius: $border-radius;
          span.price {
            text-transform: uppercase;
            margin-left: 20px;
            font-weight: bold;
            img {
              vertical-align: middle;
              width: 25px;
            }
          }
        }
        i.fa-times {
          color: white;
          position: absolute;
          top: 15px;
          right: 25px;
          cursor: pointer;
        }

        p {
          color: white;
          &.item-text {
            span {
              font-weight: bold;
              text-shadow: $text-shadow;
            }
          }

          a {
            font-weight: bold;
          }
        }
      }
    }

    .tabs {
      background-color: $light-blue-color;
      margin: $padding auto 0;
      text-align: center;
      vertical-align: top;
      width: 100%;
      background-image: url("../images/background_dwarf.png");
      box-shadow: $box-shadow-black-dark;

      .tab {
        display: inline-block;
        padding: 0 35px;
        height: 50px;
        border: none;
        color: white;
        background-color: unset;
        transition: $transition;
        -webkit-transition: $transition;
        -o-transition: $transition;
        -moz-transition: $transition;
        text-transform: uppercase;
        text-shadow: $text-shadow;

        &:focus {
          outline: none;
        }

        &.is-active {
          color: $gold-color;
          font-weight: bold;
        }
      }
    }

    .tabs-content {
      width: 100%;
      color: white;
      background: $light-blue-color;
      background-image: url(../images/background_dwarf.png);
      background-size: cover;
      padding: 25px;
      box-sizing: border-box;
      border-top: solid 1px white;

      .tab-content {
        padding: 0;
        display: none;
        min-height: 500px;
        flex-direction: row;
        flex-wrap: wrap;

        .product {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: none;
          border-radius: 20px;
          margin: 10px;
          position: relative;
          height: 300px;
          box-shadow: $box-shadow-black-dark;
          background: $dark-blue-color-opacity;
          padding: 15px;
          background-size: cover;
          background-position: center center;
          transition: $transition;
          -webkit-transition: $transition;
          -o-transition: $transition;
          -moz-transition: $transition;
          flex-grow: 1;
          width: calc(100% / 4);
          &:nth-child(1), &:nth-child(6n)  {
            width: 58%;
            p {
              width: 250px;
            }
          }
          h3 {
            text-shadow: $text-shadow;
            text-transform: uppercase;
            text-align: left;
            color: $gold-color;
            position: absolute;
            top: 0;
            margin: 0;
            width: 100%;
            height: auto;
            left: 0;
            padding: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            @media only screen and (max-width: 768px) {
              display: none;
            }
          }
          p {
            display: block;
            margin: auto;
            text-align: right;
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 200px;
            text-shadow: $text-shadow;
            font-size: 13px;
          }

          span.price {
            display: block;
            margin: auto;
            text-align: center;
            position: absolute;
            left: 20px;
            bottom: 20px;

            img {
              width: 24px;
            }

            span {
              font-size: 24px;
              text-shadow: 1px 5px 2px #000;
              margin-right: 5px;
            }

            * {
              display: inline-block;
            }
          }

          * {
            z-index: 5;
            position: relative;
          }

          &:hover {
            box-shadow: 0 0 23px 11px rgba(218,165,32,1);
            z-index: 8;
            transform: scale(1.05);
            border: none;
            .overlay {
              opacity: 0;
            }
          }

          .overlay {
            z-index: 2;
            border-radius: 20px;
            position: absolute;
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            background: linear-gradient(45deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
          }
        }

        &.is-active {
          display: flex;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #shop {
    .catalog {
      .tabs {
        .tab {
          display: block;
          margin: auto;
        }
      }

      .tabs-content {
        .tab-content {
          .product {
            width: 100%;
            &:first-child, &:nth-child(1), &:nth-child(6n)  {
              width: 100%;
              p {
                width: inherit;
              }
            }
          }
        }
      }

      .box-not-connected {
        .container {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          width: 100%;
        }
      }
    }
  }
}
