.slider {
  background: #001126;
  box-sizing: border-box;
  padding: $padding;

  .wrapper {
    width: 82rem;

    .promo {
      font-size: 0.8rem;
      width: 30%;
      padding: $padding;
      box-sizing: border-box;
      color: white;
      display: inline-block;
      vertical-align: top;
      margin-top: 40px;

      span {
        a {
          color: grey;
        }
      }

      h3 {
        margin-top: 15px;
      }

      .container {
        width: 80%;
      }

      .button {
        width: 260px;
        font-size: 1rem;
        margin: unset;
        margin-top: 25px;
        padding: 15px 10px;
      }
    }

    .box-slides {
      display: inline-block;
      width: 69%;
      position: relative;

      .slides-title {
        position: relative;
        width: 200px;
        margin-bottom: 20px;
        color: white;
        font-weight: bold;
        display: inline-block;

        &.left-title {
          color: $gold-color;
        }

        &.right-title {
          right: 0;
          position: absolute;
        }
      }

      .slides {
        .slide {
          span {
            color: white;
            display: block;
            margin-top: 20px;
          }

          .slide-image {
            height: 200px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    .wrapper {
      width: 100%;
      .promo {
        width: 100%;
        padding: 5px;
        margin-bottom: $padding;
      }

      .box-slides {
        width: 100%;
        .slides-title {
          width: 100%;
          display: block;
          position: initial;
          &.right-title {
            position: initial;
          }
        }
      }
    }
  }
}
