div.tabs {
  margin: 0;

  .tabs-title {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .tab-title {
      flex-grow: 1;
      text-align: center;
      padding: 25px 10px;
      color: white;
      display: block;
      font-weight: bold;
      background: #3D2213;

      &.tab-active {
        background: $gold-color;
      }
    }
  }

  .tab {
    .tab-content {
      display: none;

      .wrapper {
        width: 75rem;

        .floating.media-text {
          min-height: auto;
          .text {
            box-sizing: border-box;
            background: none;
            box-shadow: none;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
              font-size: 1.2rem;
            }

            p {
              font-size: 1rem;
              margin: 5px 0;
            }
          }

          .image {
            img {
              position: initial;
              width: 100%;
            }
          }
        }
      }
    }

    &.tab-active {
      .tab-content {
        display: block;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  div.tabs {
    .tabs-title {
      flex-direction: column;
    }
    .tab {
      .tab-content {
        .wrapper {
          width: 100%;
        }
      }
    }
  }
}
