.top-voters {
  position: relative;
  z-index: 4;
  border-radius: 5px;
  color: #fff;
  width: 450px;
  vertical-align: top;
  height: 450px;
  margin: auto;
  display: inline-block;

  h2 {
    padding-top: 35px;
    text-transform: uppercase;
    i {
      margin-right: 15px;
      color: $gold-color;
    }
  }

  ul {
    padding: 0;

    li:first-child {
      animation-duration: 2s;
      animation-name: gold-shadow;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      .position {
        border: solid 2px rgba(218, 165, 32, 1);
      }

      .username {
        color: rgba(218, 165, 32, 1);
        font-weight: bold;
      }
    }

    li:nth-child(2) {
      .position {
        border: solid 2px rgb(192, 192, 192);
      }

      .username {
        color: rgb(192, 192, 192);
        font-weight: bold;
      }
    }

    li:nth-child(3) {
      .position {
        border: solid 2px #cd7f32;
      }

      .username {
        color: #cd7f32;
        font-weight: bold;
      }
    }

    li {
      box-shadow: $box-shadow-black-dark;
      position: relative;
      display: block;
      text-align: left;
      border-radius: $border-radius;
      padding: 10px;
      background: $dark-blue-color-opacity;
      margin: 20px 20px;
      width: 380px;
      height: 30px;
      line-height: 30px;

      .position {
        border-radius: 55px;
        background: rgba(0, 0, 0, 0.2);
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
      }

      .username {
        padding-left: 10px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 2px black;
      }

      .votes {
        position: absolute;
        right: 20px;
        font-weight: bold;
      }
    }
  }
}

.vote-container {
  padding: $padding;
  position: relative;
  z-index: 5;
  margin: auto;
  text-align: center;
  .vote-item {
    display: inline-block;
    width: 100%;
    height: 100px;
    color: white;
    z-index: 5;
    * {
      vertical-align: middle;
    }
    .vote-image {
      width: 40%;
      height: 90px;
      background-position: center center;
      margin: 0 auto;
      margin-right: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
    }
    p {
      display: inline-block;
      width: 40%;
      text-shadow: $text-shadow;
    }
    a {
      color: #fff;
      width: 40%;
      display: inline-block;
      text-align: center;
      border-radius: 3px;
      padding: 12px 0;
      margin: 5px auto;
      font-size: 16px;
      -webkit-transition: $transition;
      -o-transition: $transition;
      -moz-transition: $transition;
      transition: $transition;
    }
  }
}
@media only screen and (max-width: 768px) {
  .top-voters {
    display: block;
    width: 100%;
    ul {
      li {
        width: 80%;
      }
    }
  }
}

@keyframes gold-shadow {
  from {
    box-shadow: $box-shadow-gold;
  }

  to {
    box-shadow: 0 4px 8px 0 rgba(218,165,32, 0.4), 0 6px 20px 0 rgba(218,165,32, 0.49);
  }
}
