.tracks-list {
  padding: 0 0 $padding;
  p {
    color: white;
    text-align: center;
    text-shadow: $text-shadow;
  }
  h2, h3 {
    color: white;
    text-align: center;
    i {
      font-size: 40px;
      margin-right: 10px;
      color: $gold-color;
    }
  }
  h3 {
    font-size: 20px;
  }
  .tracks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: $padding 0;
    .track-teaser {
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      display: flex;
      margin: 15px;
      flex-basis: 30%;
      -webkit-flex-basis: 30%;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -o-transition: $transition;
      background-position: center top;
      .character-icon {
        border: solid 3px $dark-blue-color;
        width: 100%;
        height: 500px;
        position: relative;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        .name {
          color: $gold-color;
          font-weight: bold;
          background: $dark-blue-color;
          width: 100%;
          margin: auto;
          text-align: center;
          text-shadow: $text-shadow;
          height: 40px;
          line-height: 40px;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -o-transition: $transition;
          text-transform: uppercase;
          overflow: hidden;
        }
        .hidden-button {
          display: none;
          position: relative;
          z-index: 5;
          text-align: center;
          margin: 200px auto;
          width: 50%;
          padding: 10px;
          color: $gold-color;
          background: black;
          text-shadow: $text-shadow;
          font-weight: bold;
          text-transform: uppercase;
        }
        .overlay {
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -o-transition: $transition;
        }
      }
      &.old {
        flex-basis: 200px;
        -webkit-flex-basis: 200px;
        height: 200px;
        margin: 5px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        &:hover {
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }
      &:hover {
        box-shadow: $box-shadow-gold;
        .character-icon {
          .hidden-button {
            display: block;
          }
          .overlay {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .tracks-list {
    .tracks {
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      .track-teaser {
        .character-icon {
          height: 300px;
           background-position: top center;

          .hidden-button {
            margin-top: 100px;
          }
        }
      }
    }
  }
}
