.two-highlighted {
  margin-bottom: $padding;

  .wrapper {
    width: 75rem;
    margin: auto;

    .highlighted {
      width: 572px;
      display: inline-block;
      margin: 13px;
      box-sizing: border-box;
      color: white;
      vertical-align: top;

      .highlighted-background {
        height: 370px;
        width: 100%;
        background-size: cover;
        border-radius: 12px;
        background-position: center center;
      }

      h4 {
        margin-top: 20px;
        color: $gold-color;
        text-shadow: $text-shadow;
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .two-highlighted {
    .wrapper {
      width: 100%;
      .highlighted {
        width: 100%;
        margin: 0;
        padding: 15px;
      }
    }
  }
}
