.video-youtube {
  width: $wrapper-max-width;
  height: 500px;
  margin: $padding auto;
  box-shadow: $box-shadow-black-dark;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 300px;
  }
}
