<div class="last-news">
  <h2><i class="far fa-newspaper"></i>{{ 'Latest news' | t({}, {'context': 'warcraft_news'}) }}</h2>
  <div class="wrapper">
    {{ news }}
  </div>

  <a class="button" href="{{ newsUrl }}">{{ 'See all news' | t({}, {'context': 'warcraft_news'}) }}</a>
</div>
