<div class="banner"
     style="background-image: url('/themes/custom/warcraft/assets/images/armory/flying dwarf.jpg'); background-position: 50% 13%;">
  <div class="overlay blue-gradient"></div>
  <div class="bottom-texture"></div>
  <div class="wrapper">
    <div class="container-text">
      <h1>{{ 'Armory' | t({}, {'context': 'warcraft_armory'}) }}</h1>
      <p>{{ 'Search any characters in realm' | t({}, {'context': 'warcraft_armory'}) }}</p>
    </div>
  </div>
</div>

<div class="armory">
  <div class="beta">Beta</div>
  <div class="wrapper">
    <h2><i class="fas fa-shield-alt"></i>{{ 'Characters' | t({}, {'context': 'warcraft_armory'}) }}</h2>
    {% if isAdmin %}
      <p>{{ 'Onlines characters' | t({}, {'context': 'warcraft_armory'}) }}<strong> {{ onlines }}</strong></p>
    {% endif %}
    {{ form }}
    <div class="characters">
      <div class="header-armory">
        <div class="row">
          <div class="name">{{ 'Name' | t({}, {'context': 'warcraft_armory'}) }}</div>
          <div class="level">{{ 'Level' | t({}, {'context': 'warcraft_armory'}) }}</div>
          <div class="race-icon">
            {{ 'Race' | t({}, {'context': 'warcraft_armory'}) }}
          </div>
          <div class="class-icon">
            {{ 'Class' | t({}, {'context': 'warcraft_armory'}) }}
          </div>

          {% if isAdmin %}
            <div class="status-label">
              {{ 'Status' | t({}, {'context': 'warcraft_armory'}) }}
            </div>
          {% endif %}
        </div>
      </div>
      {% for character in characters %}
        {% if character.name is not empty %}
          <a href="{{ path('warcraft_armory.armory_detail', {'name': character.name}) }}">
            <div class="row">
              <div class="name">{{ character.name }}</div>
              <div class="level">{{ character.level }}</div>
              <div class="race-icon">
                <img src="/themes/custom/warcraft/assets/images/race/{{ character.race }}-{{ character.gender }}.gif"
                     alt="race-icon">
              </div>
              <div class="class-icon">
                <img src="/themes/custom/warcraft/assets/images/class/{{ character.class }}.gif" alt="class-icon">
              </div>

              {% if isAdmin %}
                <div class="status {{ character.online ? 'online' : 'offline' }}"></div>
              {% endif %}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
