{{ attach_library('warcraft/model-viewer') }}
{{ attach_library('warcraft/viewer-model') }}

{% set bgImage = "/themes/custom/warcraft/assets/images/race_landscape/" ~ raceId ~ ".jpg" %}
{% if isAlliance %}
  {% set factionLogo = "/themes/custom/warcraft/assets/images/faction_logo/alliance.png" %}
  {% set characterBg = "/themes/custom/warcraft/assets/images/armory/alliance_bg.jpg" %}
{% else %}
  {% set factionLogo = "/themes/custom/warcraft/assets/images/faction_logo/horde.png" %}
  {% set characterBg = "/themes/custom/warcraft/assets/images/armory/horde_bg.jpg" %}
{% endif %}

<div class="banner-character" style="background-image: url({{ bgImage }});">
  <div class="overlay black-opacity"></div>
  <div class="bottom-texture"></div>
  <div class="wrapper">
    <a class="back" href="{{ path('warcraft_armory.armory') }}">
      <i class="fa fa-arrow-left"></i> {{ 'Back to the armory' | t({}, {'context': 'warcraft_armory'}) }}
    </a>
    <div class="container-text">
      <div class="main-text">
        <div class="faction-logo" style="background-image: url({{ factionLogo }})"></div>
        <div class="text">
          <span class="guild">{{ guild }}</span>
          <h1 class="gold-text"><span class="character-name">{{ name }}</span> <span class="arena-points">
              <i class="fas fa-fist-raised"></i> {{ arenaPoints }}</span></h1>
        </div>
      </div>

      <div class="sub-text">
        <p>
          <img src="/themes/custom/warcraft/assets/images/race/{{ raceId }}-{{ gender }}.gif"
               alt="race-icon"/>
          {{ level }} {{ race }} <span class="class-color-{{ classId }}">{{ class }}</span></p>
        <p class="is-online {{ isOnline ? 'on' : 'off' }}">
          {% if isOnline %}
            {{ 'Is online' | t({}, {'context': 'warcraft_armory'}) }}
          {% else %}
            {{ 'Is offline' | t({}, {'context': 'warcraft_armory'}) }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="armory detail {{ isAlliance ? 'alliance' : 'horde' }}" style="background-image: url('{{ characterBg }}');">
  <h2><i class="fas fa-shield-alt"></i>{{ 'Current stuff' | t({}, {'context': 'warcraft_armory'}) }}</h2>
  <div class="wrapper">

    <div class="left-items">
      <div class="item item--head">
        {% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.0} %}</div>
    <div class="item item--neck">
      {% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.1} %}</div>
    <div class="item item--shoulders">
      {% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.2} %}</div>
    <div class="item item--chest">
      {% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.4} %}</div>
    <div class="item item--back">
      {% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.14} %}</div>
    <div class="item item--shirt">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.3} %}</div>
    <div class="item item--tabard">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.18} %}</div>
    <div class="item item--bracelets">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.8} %}</div>
  </div>

  <div
    id="model-wrapper"
    data-skin-info={{ skinInfo | json_encode }}
    data-items="{{ displayItems | json_encode }}"
  ></div>

  <div class="right-items">
    <div class="item item--hands">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.9} %}</div>
    <div class="item item--belt">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.5} %}</div>
    <div class="item item--legs">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.6} %}</div>
    <div class="item item--feet">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.7} %}</div>
    <div class="item item--ring1">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.10} %}</div>
    <div class="item item--ring2">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.11} %}</div>
    <div class="item item--trinket1">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.12} %}</div>
    <div class="item item--trinket2">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.13} %}</div>
  </div>
</div>
<div class="bottom-items">
  <div class="item item--mainhand">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.15} %}</div>
  <div class="item item--offhand">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.16} %}</div>
  <div class="item item--ranged">{% include directory ~ '/templates/armory/item-detail.html.twig' with {'item': items.17} %}</div>
</div>
</div>
