<div class="banner small"
     style="background-image: url('/themes/custom/warcraft/assets/images/dwarf_bear.jpg')">
    <div class="bottom-texture"></div>
    <div class="overlay black-opacity"></div>
    <div class="wrapper">
        <div class="container-text">
            <h1>{{ node.title.value }}</h1>
        </div>
    </div>
</div>

<div class="wrapper gold-text">
    <p>ID_Personnage : {{ node.field_recup_name.value }}</p>
    <p>Serveur site : <a href="{{ node.field_recup_website.value }}" target="_blank">{{ node.field_recup_website.value }}</a></p>
    <p>La spé : {{ node.field_recup_spe.value }}</p>
    <p>Métiers : {{ content.field_recup_profession }}</p>
</div>

<div class="wrapper gold-text">
    <h3>Preuves images</h3>

    <h4>Personnage en liste</h4>
    <hr/>
    <div
            class="paragraph-image gold-shadow"
            style="background-image: url('{{ media_url(node.field_recup_proof_list.entity) }}')"
    >
    </div>

    <h4>Personnage métiers</h4>
    <hr/>
    {% set pro = media_url(node.field_recup_proof_professions.entity) %}
    <div
            class="paragraph-image gold-shadow"
            style="background-image: url('{{ pro }}')"
    >
    </div>

    <h4>Personnage /played</h4>
    <hr/>
    <div
            class="paragraph-image gold-shadow"
            style="background-image: url('{{ media_url(node.field_recup_proof_played.entity) }}')"
    >
    </div>

    {{ form }}
</div>

