<div class="banner small"
     style="background-image: url('{{ instance.image }}')">
    <div class="bottom-texture"></div>
    <div class="overlay black-opacity"></div>
    <div class="wrapper">
        <div class="container-text">
            <h1>{{ instance.title }}</h1>
            <p class="gold-text"><b>{{ instance.timestamp|date('U')|format_date('long') }}</b></p>
        </div>
    </div>
</div>

<div class="wrapper instance">
    <div class="info">
        <h2>{{ instance.title ~ ' | ' ~ instance.timestamp|date('U')|format_date('medium') }}</h2>
        <p class="description">{{ instance.description }}</p>

        <div class="roles">
            <div class="role tank">
                <img alt="tank" src="/themes/custom/warcraft/assets/images/roles/tank.png"/>
                <span class="count">{{ instance.roles.tank.count }}</span>
                <ul>
                    {% for participant in instance.roles.tank.participants %}
                        <li>{{ participant.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="role heal">
                <img alt="heal" src="/themes/custom/warcraft/assets/images/roles/heal.png"/>
                <span class="count">{{ instance.roles.heal.count }}</span>
                <ul>
                    {% for participant in instance.roles.heal.participants %}
                        <li>{{ participant.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="role dps">
                <img alt="dps" src="/themes/custom/warcraft/assets/images/roles/dps.png"/>
                <span class="count">{{ instance.roles.dps.count }}</span>
                <ul>
                    {% for participant in instance.roles.dps.participants %}
                        <li>{{ participant.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="role not-available">
            <p class="text-shadow gold-text"><b>{{ 'Indécis(e)s' | t({}, {'context': 'warcraft_theme'}) }}</b></p>
            <ul>
                {% for participant in instance.roles.maybe.participants %}
                    <li>{{ participant.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <br />

        <div class="role not-available">
            <p class="text-shadow gold-text"><b>{{ 'Non disponible' | t({}, {'context': 'warcraft_theme'}) }}</b></p>
            <ul>
                {% for participant in instance.roles.not.participants %}
                    <li>{{ participant.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <p class="required-level">{{ 'Level requis : @level' | t({'@level': instance.requiredLevel}, {'context': 'warcraft_theme'}) }}</p>
        <p class="max-players">{{ 'Max players : @number' | t({'@number': instance.maxPlayers}, {'context': 'warcraft_theme'}) }}</p>
    </div>

    <div class="instance-form form">
        <div class="wrapper">
            <div class="create-form">
                {% if not instance.lock %}
                    <h2><i class="fas fa-user-circle"></i> {{ 'S\'inscrire dans @name' | t({'@name': instance.title}, {'context': 'warcraft_core'}) }}</h2>
                    {{ instance.form }}
                {% else %}
                    <h2><i class="fas fa-user-circle"></i> {{ 'Les inscriptions sont terminées' | t({'@name': instance.title}, {'context': 'warcraft_core'}) }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
