<div class="track">
  <div class="banner" style="background-image: url('/themes/custom/warcraft/assets/images/dwarf_bear.jpg')">
    <div class="overlay black-opacity"></div>
    <div class="bottom-texture"></div>
    <div class="wrapper">
      <div class="container-text">
        <h1>{{ 'Track : @name' | t({'@name': node.field_track_name.value}, {'context': 'warcraft_track'}) }}</h1>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="pnj">
      <div class="pnj-icon"
           style="background-image: url('{{ media_url(node.field_track_icon.entity, 'large') }}')"></div>
      <div class="pnj-text">
        {{ node.field_track_text.value | raw }}
      </div>
    </div>
    <div class="win">
      <h3><i class="fas fa-trophy"></i>{{ 'Your reward' | t({}, {'context': 'warcraft_track'}) }}</h3>

      <p>
        <img class="gold-icon" src="/themes/custom/warcraft/assets/images/justice.jpg" alt="insigne de justice"/>
        <span class="price">{{ '1 Insigne de justice' | t({}, {'context': 'ucm_core'}) }}</span>
      </p>

      <p>
        <img class="gold-icon" src="/themes/custom/warcraft/assets/images/honor.jpg" alt="gold"/>
        <span class="price">{{ '~ 1000 points d\'honneurs' | t({}, {'context': 'ucm_core'}) }}</span>
      </p>

      {% if node.field_track_po.value is not empty %}
        <p>
          <img class="gold-icon" src="/themes/custom/warcraft/assets/images/gold.png" alt="gold"/>
          <span class="price">{{ node.field_track_po.value }}</span>
        </p>
      {% endif %}

      {% if node.field_track_illidari_mark.value %}
        <p>
          <span class="price">{{ node.field_track_illidari_mark.value }}</span>
          <img class="gold-icon illidari-mark" src="/themes/custom/warcraft/assets/images/illidari_money.jpg"
               alt="Marques d'Illidaris"/>
        </p>
      {% endif %}
    </div>

    {{ content.field_track_content }}
  </div>
</div>
