<a href="{{ instance.url }}" class="instance" style="background-image: url({{ instance.image }})">
    <div class="overlay blue-gradient"></div>
    <div class="info">
        <h2>{{ instance.title }}</h2>
        <p class="date">{{ instance.timestamp|date('U')|format_date('medium') }}</p>
        <p class="description">{{ instance.description }}</p>

        <div class="roles">
            <div class="role tank">
                <img alt="tank" src="/themes/custom/warcraft/assets/images/roles/tank.png"/>
                <span class="count">{{ instance.roles.tank.count }}</span>
            </div>
            <div class="role heal">
                <img alt="heal" src="/themes/custom/warcraft/assets/images/roles/heal.png"/>
                <span class="count">{{ instance.roles.heal.count }}</span>
            </div>
            <div class="role dps">
                <img alt="dps" src="/themes/custom/warcraft/assets/images/roles/dps.png"/>
                <span class="count">{{ instance.roles.dps.count }}</span>
            </div>
        </div>

        <p class="required-level">{{ 'Level requis : @level' | t({'@level': instance.requiredLevel}, {'context': 'warcraft_theme'}) }}</p>
        <p class="max-players">{{ 'Max players : @number' | t({'@number': instance.maxPlayers}, {'context': 'warcraft_theme'}) }}</p>
    </div>
</a>
