<a class="news-item" href="{{ path('entity.node.canonical', {'node': node.id}) }}">
  <div class="news teaser">
    <div class="overlay"></div>
    <div class="image" style="background-image: url('{{ media_url(node.field_news_teaser_image.entity) }}')"></div>
    <div class="text">
      <h3>{{ node.title.value }}</h3>
      <span class="date">{{ node.field_news_published_date.value|date('U')|format_date('only_date_short') }}</span>
      <p>{{ node.field_news_teaser.value }}</p>
    </div>
  </div>
</a>
