<h2>Bonjour, {{ values.username }}</h2>

<p>Vous avez peut-être entendu parlé ces derniers jours d'un grand changement. Nous avons migré de core (Mangos One vers
  Cmangos). Pourquoi avoir fait ce choix ? Tout simplement : une meilleure stabilité. Ce nouveau core possède une
  communauté de développeurs très actifs qui travaillent autour des différentes extensions WoW (dont Burning Crusade
  bien-sûr !). La <b>totalité</b> des bugs reportés à propos de certaines quêtes, spells, etc. sont désormais
  <b>résolus</b>. Un article vous sera bientôt
  disponible pour vous donner plus d'informations sur cette migration.</p>

<p>Nous avons du faire un gros travail afin de migrer tout cela, malheureusement nous avons du reset votre mot de passe.</p>

<p>Votre notre nouveau mot de passe : <b style="font-size:22px;">{{ values.newPassword }}</b></p>

<p>Vous pouvez facilement le changer à partir de <a href="https://les-terres-illidaris.fr/account/manage"
                                                    target="_blank">l'espace compte</a>.</p>

<p>Bon jeu à vous, aventurier !<br><b>Les Terres Illidaris</b></p>.
