{{ attach_library('warcraft/user-panel') }}

<div class="banner" style="background-image: url('/themes/custom/warcraft/assets/images/elwynn.jpg')">
    <div class="overlay black-opacity"></div>
    <div class="wrapper">
        <div class="container-text">
            <h1>{{ 'My account' | t({}, {'context': 'warcraft_armory'}) }}</h1>
            <p>{{ 'Welcome to your space,' | t({}, {'context': 'warcraft_armory'}) }} <span
                        class="pseudo gold-text">{{ userData.username }}</span></p>
            <a class="button button--red" href="{{ userData.disconnectUrl }}">
                {{ 'Disconnect' | t({}, {'context': 'warcraft_user'}) }}
            </a>
        </div>
    </div>
    <div class="user-attributes">
        <span class="vote">{{ userData.points ? userData.points : '0' }} <img class="illidari-mark"
                                                                              src="/themes/custom/warcraft/assets/images/illidari_money.jpg"
                                                                              alt="Marques d'Illidaris"/> </span>
    </div>
</div>

<div
        id="user-panel"
        data-user-email="{{ userData.email }}"
        data-user-username="{{ userData.username }}"
        data-user-points="{{ userData.points }}"
        data-user-api-url="{{ userData.updateApiUrl }}"
></div>

<div class="recuperation-form form" style="background-image: url('/themes/custom/warcraft/assets/images/illidan.png');">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="create-form" style="background: rgba(0,0,0, 0.7);">
            <h2><i class="fas fa-skull"></i> {{ 'Hardcore - Recevoir son personnage niveau 70' | t({}, {'context': 'warcraft_core'}) }}</h2>
            {{ blockRecup }}
        </div>
    </div>
</div>
