{{ attach_library('warcraft/user-login') }}

<div class="banner small" style="background-image: url('/themes/custom/warcraft/assets/images/elwynn.jpg')">
  <div class="overlay black-opacity"></div>
  <div class="wrapper">
    <div class="container-text">
      <h1>{{ 'Login to my account' | t({}, {'context': 'warcraft_armory'}) }}</h1>
      <p>{{ 'If you want to create a new account, please click on the link' | t({'@username': userData.username}, {'context': 'warcraft_armory'}) }}</p>
      <a class="button button--blue" href="/#subscription-form">
        {{ 'Subscribe' | t({}, {'context': 'warcraft_user'}) }}
      </a>
    </div>
  </div>
</div>

<div id="user-login" data-api-login="{{ loginApiUrl }}"></div>
