body, html {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("/assets/images/illidan.png");
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 2.5em;
}

.texture {
    background: url('/assets/images/texture.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: repeat;
}

.overlay-body {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header {
    width: 100%;
    background-image: url("/assets/images/background_header.png");
    background-size: cover;
    background-position: bottom;
    background-color: rgba(218,165,32, 1);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header * {
    position: relative;
    z-index: 5;
}

header .video {
    overflow: hidden;
}

header video, header .video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .text {
    width: 80%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

header h1, header h2 {
    -webkit-transition: all .25s cubic-bezier(.23,1,.32,1) 0s;
    transition: all .25s cubic-bezier(.23,1,.32,1) 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(bottom, #FDC830, #F37335);
    font-size: 3rem;
    line-height: 1;
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: auto;
    background-position: center 100%;
    -webkit-filter: drop-shadow(0 0 4px #000);
    filter: drop-shadow(0 0 4px #000000);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

header h1::after, header h2::after {
    background: none;
    content: attr(data-text);
    display: inline-block;
    left: 0;
    position: absolute;
    text-shadow: 0 0 1px transparent;
    top: 0;
    z-index: -1;
}

header h2 {
    font-size: 1.5em;
    display: block;
    background-image: -webkit-linear-gradient(bottom, #8A2387, #E94057 50%, #F27121);
}

header p {
    padding: 40px 0;
    margin: auto;
    width: 64ch;
    line-height: 1.4;
}

.border-bg, .border-bg-bottom {
    position: absolute;
    background-image: url("/assets/images/border.png");
    bottom: 0;
    width: 100%;
    background-position: center center;
    height: 52px;
    background-size: cover;
}

.border-bg-bottom {
    height: 15px;
    background-image: url(/assets/images/border-bottom.png);
    bottom: -8px;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.7);
}

.logo {
    width: 180px;
    position: absolute;
    left: 25px;
    top: 25px;
}

.murloc {
    position: absolute;
    bottom: 45px;
    left: 32%;
    width: 120px;
}

.undead {
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 200px;
    z-index: 10;
}

a {
    color: white;
    text-decoration: none;
}

.count {
    font-size: 35px;
    padding-left: 10px;
}

.online {
    font-weight: bold;
    position: absolute;
    right: 50px;
    top: 26px;
}

.online:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #2ecc71;
    border-radius: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 6px;
    animation-duration: 0.5s;
    animation-name: c;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.subscription {
    padding: 7px 25px;
    background-image: url("/assets/images/button-border.png");
    background-size: contain;
    display: block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    width: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: auto;
    animation-duration: 2s;
    animation-name: b;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes b {
    from { transform: translateY(0); }
    to   { transform: translateY(10px); }
}

@keyframes c {
    from { transform: scale(1); }
    to   { transform: scale(1.1); }
}

.subscription:hover {
    filter: brightness(1.3);
    transition: all ease-in-out 0.3s;
}

.wrapper {
    padding: 20px;
    width: 1200px;
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    z-index: 2;
}

.text {
    margin: 0 auto 50px;
}

.text-gold {
    color: #daa520;
}

.text-shadow {
    text-shadow: 2px 3px 2px #000;
}

.gifts ul {
    margin-top: 50px;
    margin-bottom: 45px;
}

.gifts .text {
    margin-top: 50px;
    position: relative;
    padding: 0 40px 80px;
}

.gifts * {
    z-index: 5;
    position: relative;
}

.gifts .text .border-gift {
    z-index: 3;
    border-image-repeat: repeat;
    border-image-slice: 183 fill;
    border-image-width: 134px;
    border-image-outset: 0;
    border-width: 1px;
    border-image-source: url("/assets/images/gift-cadre.png");
    position: absolute;
    width: 100%;
    height: 100%;
    top: -35px;
    left: 0;
    background-image: url(/assets/images/texture.jpg);
    background-size: 20%;
}

.gift {
    vertical-align: top;
    display: inline-block;
    width: calc(100%/7);
    margin: 0 11px;
}

.gift-border {
    position: relative;
    width: 102px;
    height: 106px;
    margin: auto;
}

.gift-border:after {
    content: "";
    z-index: 1;
    pointer-events: none;
    display: block;
    position: absolute;
    width: 102px;
    height: 106px;
    top: 0;
    left: 0;
    background-size: 102px 106px;
    background-image: url("/assets/images/gift.png");
    background-repeat: no-repeat;
    animation-duration: 2s;
    animation-name: bounce-gift;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gift-border.zergling:after {
    background-image: url("/assets/images/gift/zergling.png");
}

.gift-border.gold:after {
    background-image: url("/assets/images/gift/gold.png");
}

.gift-border.transfert:after {
    background-image: url("/assets/images/gift/transfert.png");
}

.gift-border.belier:after {
    background-image: url("/assets/images/gift/bélier.png");
}

.gift-border.classement:after {
    background-image: url("/assets/images/gift/classement.png");
}

.gift-border.medaillon:after {
    background-image: url("/assets/images/gift/medaillon.png");
}

.border {
    position: relative;
    width: 100%;
}

.bg {
    background-image: url("/assets/images/dunmorogh.png");
    background-attachment: fixed;
    background-size: cover;
}

.bg.firsts {
    background-image: url("/assets/images/arthas_loarderon.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.ranking {
    margin-top: 50px;
    min-height: 50vh;
}

.ranking ul {
    width: 80%;
    margin: 50px auto;
    text-align: left;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.firsts .ranking ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.ranking ul li span{
    font-size: 2em;
}

.ranking ul li {
    list-style-type: decimal;
    font-weight: bold;
    font-size: 0.8em;
}

.server-info {
    margin: auto;
}

.server-info h2 {
    margin: 50px auto;
}

table {
    margin: auto;
    margin-bottom: 50px;
}

td {
    border-collapse: collapse;
    text-align: left;
    text-shadow: 2px 3px 2px #000;
    border-bottom: solid 1px;
    padding: 5px;
}

tr td:nth-child(2) {
    color: #daa520;
    font-weight: bold;
    text-align: center;
}

.footer {
    text-align: center;
    position: relative;
    z-index: 2;
}

.copyright {
    font-size: 0.8em;
}


/* MOBILE */
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 80%;
    }

    .logo {
        margin: auto;
        left: 0;
        right: 0;
        display: none;
    }

    .subscription {
        margin: 70px auto;
        width: auto;
    }

    .gif {
        display :none;
    }

    header {
        height: 100vh;
    }

    header .video {
        display: none;
    }

    header .text {
        width: 80%;
        margin: auto;
        padding-top: 100px;
        bottom: 0;
    }

    header .text p {
        padding: 20px 0;
        width: 100%;
        text-align: left;
    }

    .gifts li {
        display: block;
        width: 100%;
        margin: 0;
    }

    .ranking ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
    .wrapper {
        width: 80%;
    }

    header .video {
        display: none;
    }

    .gifts li {
        display: block;
        width: 100%;
        margin: 0;
    }

    .ranking ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
