.armory {
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: $padding;
  .beta {
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg) translate(84px, 4px);
    background: #37C25B;
    width: 250px;
    text-align: center;
    padding: 10px;
    color: white;
  }
  .wrapper {
    h2 {
      text-align: center;
      padding: $padding 0;

      i {
        color: $gold-color;
        padding-right: 15px;
      }
    }

    form {
      * {
        display: inline-block;
        vertical-align: middle;
      }

      .form-type-textfield {
        width: 65.6%;

        input {
          width: 100%;
          height: 40px;
          padding-left: 15px;
          color: black;
        }
      }

      .button {
        width: 30%;
        margin: 0 0 0 42px;
        border-radius: 0;
        background: $dark-blue-color;
        color: white;
        height: 45px;
      }
    }

    .characters {
      display: flex;
      flex-direction: column;

      .header-armory {
        .row {
          color: $gold-color;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      a {
        &:hover {
          background: hsla(0,0%,100%,.05);
        }
        &:nth-child(odd) {
          background: hsla(0,0%,100%,.02);
          &:hover {
            background: hsla(0,0%,100%,.05);
          }
        }
      }

      .row {
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        padding: 15px;
        border-top: solid 1px rgba(255, 255, 255, 0.2);

        * {
          display: inline-block;
          vertical-align: middle;
        }

        .name {
          width: 50%;
        }

        .level {
          width: 10%;
          text-align: center;
        }

        .race-icon, .class-icon {
          text-align: center;
          width: 5%;
        }

        .status-label {
          margin-right: 30px;
          float: right;
        }
        .status {
          width: 10px;
          height: 10px;
          background: #2ecc71;
          border-radius: 25px;
          margin-right: 55px;
          float: right;
          &.offline {
            background: $error-color;
          }
        }
      }
    }
  }
}

.armory.detail {
  background-position: bottom;
  background-size: cover;
  i {
    color: $gold-color;
    padding-right: 15px;
  }

  h2 {
    text-align: center;
    color: white;
    margin: 0;
    background: $dark-blue-color-opacity;
    padding: 10px 0;
    border-bottom: solid 2px white;
    backdrop-filter: blur(6px);
  }

  &.horde {
    h2{
      background: $horde-color-opacity;
    }
  }

  .wrapper {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

.banner-character {
  height: 600px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;

  .overlay.black-opacity {
    background: rgba(0, 0, 0, .7);
  }

  .wrapper {
    position: relative;
    z-index: 5;

    a.back {
      top: 120px;
      position: relative;
    }

    .container-text {
      top: 250px;
      position: relative;
      color: white;

      .main-text {
        .faction-logo {
          width: 150px;
          height: 150px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .text {
          display: inline-block;
          h1 {
            padding: 6px;

            .character-name {
              font-size: 50px;
            }

            .arena-points {
              color: white;
              margin-left: 25px;

              i {
                vertical-align: text-top;
              }
            }
          }
        }
      }

      .sub-text {
        font-size: 30px;
        margin-top: -25px;

        p {
          margin-bottom: 0;
        }

        .is-online {
          font-size: 14px;
          margin-top: 0;
          font-weight: bold;

          &.on {
            color: $green;
          }

          &.off {
            color: $error-color;
          }
        }
      }
    }
  }
}

#model-wrapper {
  .model {
    text-align: center;
    width: 400px;
    height: 601px !important;
    margin: auto;
    .button-viewer {
      height: auto;
      color: white;
      display: block;
      width: 150px;
      text-align: center;
      border-radius: 3px;
      background-color: $light-blue-color;
      padding: 12px 0;
      border: none;
      font-size: 16px;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -o-transition: $transition;
      top: 300px;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      &:hover {
        background-color: $dark-blue-color;
      }
    }

    canvas {
      width: 100% !important;
      height: 100% !important;
      position: relative;
    }

    .canvas-div {
      display: none;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 10px;
      background-color: rgb(0, 0, 0);
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner-character {
    height: 750px;

    .wrapper {
      .container-text {
        top: 150px;
        text-align: center;
      }
    }
  }

  .armory {
    .beta {
      transform: inherit;
      width: 100%;
      position: inherit;
    }

    .wrapper {
      form {
        .button {
          width: 100%;
          margin: 0;
        }

        .form-type-textfield {
          width: 100%;
          input {
            width: 90%;
            padding-left: 9%;
          }
        }
      }
      .characters {
        .header-armory {
          display: none;
        }
        .row {
          .status {
            margin-right: 0;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .armory.detail {
    .wrapper {
      .left-items {
        order: 0;
      }
      .right-items {
        order: 1;
      }
      .bottom-items {
        order: 2;
      }
      #model-wrapper {
        order: 3;
      }
    }
  }
}
