.region-header {
  width: 100%;

  .menu--main {
    padding: 0;
    height: 50px;
    margin: auto;
    background: url("../images/menu_bg.png");
    background-size: cover;
    z-index: 500;
    position: fixed;
    left: 0;
    right: 0;
    border-radius: $border-radius;
    display: flex;
    * {
      display: inline-block;
    }
    .burger-menu {
      display: none;
    }

    .menu {
      margin-top: 0;
      height: 100%;
      margin-left: auto;
      order: 2;

      &.socials {
        margin-left: initial;
        min-width: 350px;
        text-align: right;
        padding-right: 35px;

        li {
          padding: 0 15px;
          text-align: center;
          height: 100%;

          a {
            display: block;
            height: 100%;
            line-height: 50px;
            img.illidari-mark {
              height: 15px;
              width: 15px;
              vertical-align: sub;
            }
            span {
              text-transform: initial;
              padding-left: 3px;
            }
          }
        }
      }

      li.menu-item {
        margin: 0 15px;
        text-align: center;
        height: 100%;
        padding-top: 0;
        font-size: 14px;
        &.menu-item--expanded {
          position: relative;
          i {
            position: absolute;
            left: -15px;
            top: 18px;
            color: $gold-color;
          }
          .menu-submenu {
            display: none;
            position: absolute;
            top: 50px;
            padding: 0;
          }
          &:hover {
            .menu-submenu {
              display: block;
              box-shadow: $box-shadow-black-dark;
              li {
                text-align: center;
                background-image: url("../images/background_dwarf.png");
                background-color: $light-blue-color;
                width: 200px;
                margin: 0;
                display: block;
                border-bottom: solid 1px $dark-blue-color;
                a {
                  text-align: left;
                  text-shadow: $text-shadow;
                  padding-left: 10px;
                }
              }
            }
          }
        }

        a {
          padding: 0 5px;
          display: block;
          height: 100%;
          line-height: 50px;

          &.is-active {
            text-shadow: $text-shadow;
            font-weight: bold;
            color: $gold-color;
          }

          &:hover {
            text-shadow: $text-shadow;
            font-weight: bold;
            color: $gold-color;
          }
        }
      }
    }
  }

  .logo {
    top: 0;
    z-index: 1;
    width: 230px;
    height: 110px;
    margin-left: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./../images/logo.png);
    filter: contrast(135%);
  }
}

@media only screen and (max-width: 768px) {
  .region-header {
    .menu--main {
      border: none;
      height: 0;
      padding: 0;
      background: none;
      flex-direction: column;
      .burger-menu {
        display: block;
      }
      &.open {
        height: 100vh;
      }
      * {
        display: block;
        width: 100%;
      }
      .menu, .menu.socials {
        display: none;
        text-align: center;
        margin-left: initial;
        background-image: url("../images/texture.jpg");
        margin-bottom: 0;
        text-shadow: $text-shadow;
        li, li.menu-item {
          min-height: 35px;
          padding: 10px 0;
          margin: 10px auto;
          border-bottom: solid 3px $light-blue-color;
          font-size: 20px;
          vertical-align: bottom;
          height: auto;
          display: inline-block;
          width: 40%;
          a {
            font-size: 17px;
            line-height: 20px;
          }

          &.menu-item--expanded {
            position: relative;
            i {
              display : none;
            }
            .menu-submenu {
              display: none;
              position: inherit;
              top: 50px;
              padding: 0;
            }
            &:hover {
              .menu-submenu {
                display: none;
                box-shadow: none;
                li {
                  text-align: inherit;
                  background-image: inherit;
                  background-color: inherit;
                  width: inherit;
                  margin: inherit;
                  display: inherit;
                  border-bottom: inherit;
                  a {
                    text-align: inherit;
                    text-shadow: inherit;
                    padding-left: inherit;
                  }
                }
              }
            }
          }
        }
        li.menu-item {
          width: 100%;
          border: none;
          height: auto;
          display: block;
          position: inherit;
          a {
            line-height: 50px;
            padding: 0;
            &.is-active {
              background: none;
            }
            &:hover {
              background: none;
            }
          }
        }
      }
      .menu.socials {
        margin: 80px auto;
        width: 100%;
        position: absolute;
        height: 40px;
        bottom: 0;
        padding-right: 0;
        text-align: center;
        li {
          border: none;
          display: inline-block;
          width: auto;
          margin: auto 15px;
          vertical-align: sub;
          a {
            img {
              margin: auto;
            }
          }
        }
      }
      .logo {
        width: 150px;
        height: 66px;
        margin: 10px;
      }
      .burger-menu {
        border-radius: $border-radius;
        color: white;
        right: 15px;
        top: 15px;
        position: absolute;
        padding: 5px;
        font-size: 28px;
        background: $light-blue-color;
        width: 35px;
        height: 35px;
        text-align: center;
        i {
          line-height: 35px;
        }
      }
    }
  }
}
