.item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
  box-shadow: $light-blue-color-opacity;
  margin: 15px;
  font-size: 12px;
  height: 60px;
  width: 60px;

  .armor-icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px;

    &.grey {
      border: solid 2px #ff9d9d9d;
    }

    &.white {
      border: solid 2px #ffffffff;
    }

    &.green {
      border: solid 2px #26c426;
    }

    &.blue {
      border: solid 2px #2d2de1;
    }

    &.purple {
      border: solid 2px #8c02cd;
    }

    &.orange {
      border: solid 2px #f0940a;
    }

    &.red {
      border: solid 2px #f0940a;
    }
  }

  &:hover {
    .item-detail {
      display: block;
    }
  }

  .item-detail {
    position: absolute;
    width: 200px;
    min-height: 150px;
    top: -50px;
    left: -255px;
    display: none;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    .text {
      text-align: left;
      .name {
        font-size: 15px;
        width: 61%;
      }
      .type, .speed {
        text-align: right;
        float: right;
        right: 15px;
        position: absolute;
      }
      .type {
        top: 21px;
      }
      .item-level {
        color: #EF961E;
      }
    }


    &.grey {
      border: solid 2px #ff9d9d9d;
      .name {
        color: #ff9d9d9d;
      }
    }

    &.white {
      border: solid 2px #ffffffff;
      .name {
        color: #ffffffff;
      }
    }

    &.green {
      border: solid 2px #26c426;
      .name {
        color: #26c426;
      }
    }

    &.blue {
      border: solid 2px #2d2de1;
      .name {
        color: #2d2de1;
      }
    }

    &.purple {
      border: solid 2px #8c02cd;
      .name {
        color: #8c02cd;
      }
    }

    &.orange {
      border: solid 2px #f0940a;
      .name {
        color: #f0940a;
      }
    }

    &.red {
      border: solid 2px #f0940a;
      .name {
        color: #f0940a;
      }
    }
  }

  //ITEMS DEFAULT BACKGROUND
  &--head {
    background-image: url("../images/armory/head.png");
  }

  &--neck {
    background-image: url("../images/armory/necklace.png");
  }

  &--shoulders {
    background-image: url("../images/armory/shoulders.png");
  }

  &--chest {
    background-image: url("../images/armory/chest.png");
  }

  &--back {
    background-image: url("../images/armory/cloak.png");
  }

  &--shirt {
    background-image: url("../images/armory/shirt.png");
  }

  &--tabard {
    background-image: url("../images/armory/tabard.png");
  }

  &--bracelets {
    background-image: url("../images/armory/bracelets.png");
  }

  &--hands {
    background-image: url("../images/armory/gloves.png");
  }

  &--belt {
    background-image: url("../images/armory/belt.png");
  }

  &--legs {
    background-image: url("../images/armory/leg.png");
  }

  &--feet {
    background-image: url("../images/armory/boots.png");
  }

  &--ring1 {
    background-image: url("../images/armory/ring.png");
  }

  &--ring2 {
    background-image: url("../images/armory/ring.png");
  }

  &--trinket1 {
    background-image: url("../images/armory/trinket.png");
  }

  &--trinket2 {
    background-image: url("../images/armory/trinket.png");
  }

  &--mainhand {
    background-image: url("../images/armory/right-hand.png");
  }

  &--offhand {
    background-image: url("../images/armory/left-hand.png");
  }

  &--ranged {
    background-image: url("../images/armory/right-hand.png");
  }
}

.bottom-items {
  text-align: center;
  display: block;

  .item {
    display: inline-block;
    .item-detail {
      top: -200px;
    }
  }
}

.right-items {
  .item-detail {
    top: -50px;
    left: 90px;
    display: none;
  }
}
