{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, panelUrl, userData) }}

<div onclick="toggleBurger()" class="burger-menu"><i class="fas fa-ellipsis-v"></i></div>
<a href="/">
    <div class="logo"></div>
</a>

{% macro menu_links(items, attributes, menu_level, panelUrl, userData) %}
{% import _self as menus %}
  {# 1. #}
  {% set menu_classes = [
      'menu',
  ] %}
  {# 1. #}
  {% set submenu_classes = [
      'menu-submenu',
  ] %}
  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass(menu_classes).setAttribute('data-drupal-selector','menu-main') }}> {# 1. #}
    {% else %}
    <ul{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}> {# 1. #}
        {% endif %}
        {% for item in items %}
            {# 1. #}
            {% set item_classes = [
                'menu-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
            ] %}
            {# 1. #}
            {% set link_classes = [
                'menu-link',
            ] %}
            <li{{ item.attributes.addClass(item_classes) }}>{# 1. #}
                {# 1. #}
                {{ link(
                    item.title,
                    item.url,
                    item.attributes.removeClass(item_classes).addClass(link_classes)
                ) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }} {# 1. #}
                {% endif %}
            {% if item.is_expanded %}<i class="fas fa-arrow-circle-down"></i>{% endif %}</li>
        {% endfor %}
    </ul>

    {% if menu_level == 0 %}
        <ul class="menu socials close">
            <li>
                <a href="https://discord.gg/bKDK6AR" target="_blank"><i class="fab fa-discord"></i></a></li>
            <li>
                <a href="{{ panelUrl }}"><i class="fas fa-user-circle gold-text"></i>
                    <span>{{ userData.name }}</span></a>
            </li>
            {% if userData.isConnected %}
                <li>
                    <a href="{{ panelUrl }}">
                        <img class="gold-icon illidari-mark"
                             src="/themes/custom/warcraft/assets/images/illidari_money.jpg"
                             alt="Marques d'Illidaris"/>
                        {{ userData.points }}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    {% endif %}
    {% endmacro %}
