.instance {
  .info {
    position: relative;
    width: 100%;
    color: white;
    background: $light-blue-color;
    padding: $padding;
    margin-top: $padding;
    background-image: url("../images/background_dwarf.png");
    background-size: cover;
    border-radius: $border-radius;
    text-align: center;
    padding-bottom: 100px;

    h2 {
      color: $gold-color;
      text-shadow: $text-shadow;
    }

    p.description {
      height: 15px;
    }

    p.max-players, p.required-level {
      margin: 0;
      text-align: right;
      text-shadow: $text-shadow;
      font-size: 13px;
      color: $light-grey;
    }

    .roles {
      border-top: solid 1px white;
      padding-top: 16px;
      margin-top: 16px;
    }

    .role {
      vertical-align: top;
      display: inline-block;
      width: 30%;
      margin: auto;

      span.count {
        display: block;
        color: $gold-color;
        text-shadow: $text-shadow;
      }

      ul {
        padding: 0;

        li {
          display: block;
          text-transform: capitalize;
          text-shadow: $text-shadow;
        }
      }
    }

    .not-available {
      margin-top: 50px;
      p {
        text-shadow: $text-shadow;
      }
    }
  }

  .instance-form.form {
    background: none;
    position: relative;
    z-index: 2;
    margin-top: -100px;

    .wrapper {
      margin-top: 0;

      .create-form {
        background: $dark-blue-color;
        background-image: url("../images/background_dwarf.png");
        background-size: cover;

        form {
          select {
            width: 100%;
            border: none;
            border-radius: $border-radius;
            padding: 15px;
            margin: auto;
            display: block;
            background: rgba(55, 135, 189, .8);
            text-align: center;
          }
        }
      }
    }
  }
}

.instances-list.wrapper {
  margin-bottom: $padding;
  .instances {
    h2 {
      text-align: center;
      color: $gold-color;
      margin: $padding auto;
    }

    .instance {
      background-size: cover;
      position: relative;
      height: 300px;
      vertical-align: top;
      border-radius: $border-radius;
      width: 25%;
      padding: $padding;
      background-color: rgba(55, 135, 189, .8);
      display: inline-block;
      margin: 5px;
      -webkit-transition: $transition;
      -o-transition: $transition;
      -moz-transition: $transition;

      &:hover {
        box-shadow: $box-shadow-gold-strong;
      }

      .info {
        background: none;
        padding: 0;

        h2 {
          margin-bottom: 0;
        }

        p.date {
          margin-top: 2px;
          font-size: 13px;
          text-shadow: $text-shadow;
        }
        p.description {
          font-size: 13px;
        }

        .roles {
          margin-bottom: 30px;
          margin-top: 30px;
        }

        p.required-level, p.max-players {
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .instance {
    .info {
      width: auto;

      .roles {
        .role {
          display: block;
        }
      }
    }
  }
  .instances-list {
    .instances {
      .instance {
        display: block;
        width: auto;
        height: 400px;
      }
    }
  }
}
