.news-full {
  .banner {
    border-bottom: solid 2px black;
  }
}
.news {
  &.teaser {
    background-image: url("../images/elwynn.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: $border-radius;
    box-shadow: none;
    position: relative;
    width: 100%;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $dark-blue-color-opacity;
    }

    .image, .text {
      display: inline-block;
      position: relative;
      z-index: 5;
      color: white;
    }

    .image {
      height: 200px;
      background-size: 100% 100%;
      background-position: center center;
      width: 100%;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -o-transition: $transition;
    }

    .text {
      width: 90%;
      vertical-align: top;
      padding: 15px;

      h3 {
        margin: 0;
        width: 100%;
        text-transform: uppercase;
      }

      span.date {
        font-size: 13px;
      }

      p {
        width: 100%;
        color: $light-grey;
      }
    }
  }
}

.last-news, .list-news {
  background-position: center center;
  background-size: cover;
  padding: $padding 0;

  .button {
    margin: auto;
    padding: 10px;
  }

  h2 {
    text-align: center;
    color: white;

    i {
      font-size: 20px;
      padding: 0 5px;
    }
  }

  .wrapper {
    display: flex;
    padding: $padding 0;
    flex-wrap: wrap;

    a.news-item {
      flex-basis: 32%;
      -webkit-flex-basis: 32%;
      vertical-align: top;
      display: flex;
      margin: 5px;
      width: 100%;

      &:hover {
        .teaser {
          box-shadow: $box-shadow-gold;
          .image {
            background-size: 105% 105%;
          }
        }
      }
    }
  }
}

.list-news {
  .wrapper {
    padding-top: 0;
    a.news-item:first-child {
      flex-basis: 65%;
      -webkit-flex-basis: 65%;
      .teaser {
        .image {
          background-size: 100%;
          &:hover {
            background-size: 105%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .list-news, .last-news {
    padding: $padding auto;

    .wrapper {
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;

      a.news-item {
        margin: 15px auto;
        flex-basis: 100%;
        -webkit-flex-basis: 100%;
        .teaser {
          .image {
            background-size: cover;
          }
        }
        &:first-child {
          flex-basis: 100%;
          -webkit-flex-basis: 100%;
          .teaser {
            .image {
              background-size: cover;
            }
          }
        }
      }
    }
  }
}
