.track {
  .banner {
    height: 400px;
    background-size: cover;
  }

  >.wrapper {
    padding: $padding 15px;
    min-height: 300px;
    margin: $padding auto;
    background-color: rgba(55, 135, 189, 0.8);
    background-image: url(../images/background_dwarf.png);
    text-transform: uppercase;
    background-size: cover;
    box-shadow: $box-shadow-black-dark;
    border-radius: $border-radius;

    .pnj {
      .pnj-icon {
        background-position: center center;
        float: left;
        width: 10rem;
        height: 10rem;
        background-size: cover;
        margin: 0 15px 15px 0;
        border: solid 2px $gold-color;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;

        &:hover {
          box-shadow: $box-shadow-gold;
        }
      }

      .pnj-text {
        color: white;
        text-transform: initial;

        &::first-letter {
          font-size: 200%;
        }
      }
    }
    .win {
      clear: both;
      padding-top: $padding;
      width: 80%;
      margin: auto;
      text-align: center;
      margin-bottom: $padding;

      h3 {
        border-bottom: solid 1px white;
        padding-bottom: 20px;
        color: white;
        font-size: 35px;
        text-shadow: $text-shadow;
        i {
          color: $gold-color;
          margin-right: 10px;
        }
      }
      .gold-icon {
        width: 40px;
        border-radius: 50px;
        border: solid 1px white;
      }
      .price {
        color: $gold-color;
        text-shadow: $text-shadow;
        vertical-align: super;
        font-weight: bold;
        font-size: 20px;
        padding-left: 8px;
      }
    }
  }
}
