{% set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'page-node-type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
  isHyjal ? 'hyjal',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token }}"></head-placeholder>
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta name="description" content="Un serveur privé WoW Burning Crusade 2.4.3 chaleureux et en constante évolution !" />
  <meta name="keywords" content="les, les-terres, les-terres-illidaris, haut-fait, blizzlike, top, bc, tbc, prewotlk, pre-wotlk, wotlk, woltk, privé, private, Burning Crusade, burning, burnig, crusade, crasade, croisade, wow, warcraft, serveur, server, world, gratuit, blizzlike, blizlike, rate, warcraft, privés, gratuit, top, mmorpg, jeux online, en ligne, jeu en ligne, francais, belge, canadien, canada, belgique, france, 70, level, max, xp, quetes, stable, latence, faible, dédié, boutique, population, grande, 2.4.3, " />
  <meta name="Copyright" content="les-terres-illidaris"/>
  <css-placeholder token="{{ placeholder_token }}"></css-placeholder>
  <js-placeholder token="{{ placeholder_token }}"></js-placeholder>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154688968-1"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-M9B8V5S');</script>
  <!-- End Google Tag Manager -->
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-154688968-1');
  </script>

</head>
<body{{ attributes.addClass(body_classes) }}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9B8V5S"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="app" v-cloak>
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
</div>
<js-bottom-placeholder token="{{ placeholder_token }}"></js-bottom-placeholder>
<div id="realmlist" class="realmlist"><span>{{ 'set realmlist les-terres-illidaris.fr' | t }}</span> <i onclick="copyToClipboard()" class="fas fa-copy"></i></div>
</body>
</html>
