{% if item is not null %}
  <div class="armor-icon {{ item.color }}"
       style="background-image: url('/themes/custom/warcraft/assets/images/armory/item_logo/{{ item.id }}.jpg');"></div>
  <div class="item-detail {{ item.color }}">
    <div class="text">
      <p class="name">{{ item.name }}</p>
      <p class="type">{{ item.type }}</p>
      <p
        class="item-level">{{ 'Item level @level' | t({'@level': item.itemLevel}, {'context': 'warcraft_armory'}) }}</p>
      {% if item.isWeapon %}
        <p class="damage">
        <span
          class="damage-interval"> {{ item.dmgMin1 }} - {{ item.dmgMax1 }} {{ 'Damage' | t({}, {'context': 'warcraft_armory'}) }}</span>
          <span class="speed">{{ 'Speed @speed' | t({'@speed': item.delay}, {'context': 'warcraft_armory'}) }}</span>
        </p>
      {% else %}
        {% if item.armor != 0 %}
          <span class="armor">{{ '@armor Armor' | t({'@armor': item.armor}, {'context': 'warcraft_armory'}) }}</span>
        {% endif %}
      {% endif %}

      <div class="stats">
        {% for stat in item.stats %}
          <p> {{ stat.value >= 0 ? '+' : '-' }}{{ stat.value }} {{ stat.type }}</p>
        {% endfor %}
      </div>

      {% if item.durability > 0 %}
        <p class="durability">{{ 'Durability' | t({}, {'context': 'warcraft_armory'}) }}{{ item.durability }}/{{ item.durability }}</p>
      {% endif %}

      {% if item.description is not empty %}
        <p>{{ item.description }}</p>
      {% endif %}

      <p
        class="required-level">{{ 'Require level @level' | t({'@level': item.requiredLevel > 0 ? item.requiredLevel : 1}, {'context': 'warcraft_armory'}) }}</p>

    </div>
  </div>
{% endif %}
